{% load staticfiles i18n gtm_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{{site.name}}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}The Web Accessibility Compliance Checker by ADA First uses the most thorough and reliable automated testing software available, the Functional Accessibility Evaluator (FAE) to check websites and web pages for compliance with Web Content Accessibility Guidlelines (WCAG) 2.0{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}website checker, accessibile, WCAG, web content accessibility guidelines, section 508, website audit, compliance tools, ADA, americans with disabilities act{% endblock %}">
    <meta name="robots" content="{% block meta_robots %}index,follow{% endblock %}">

    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <![endif]-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/bootstrap-plugins.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fae2.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}

    {% gtm_head %} <!-- Google Tag Manager -->
  </head>
  <body>
    <nav id="top-navbar-container" class="navbar navbar-inverse" aria-labelledby="top-navbar-label">
      <h2 id="top-navbar-label" class="sr-only">Main Navigation</h2>

      {% gtm_body %} <!-- Google Tag Manager (noscript) -->

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar" aria-controls="top-navbar">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.domain}}" aria-label="Run Report">{{site.name}}</a>
        </div>

        <div id="top-navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                About
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-label="About FAE and other resources">
                    <li><a href="{% url 'overview'        %}">Getting Started</a></li>
                    <li><a href="{% url 'faqs'            %}">FAQs</a></li>
                    {% comment %}
                    <li><a href="{% url 'sharing' %}">Sharing Reports</a></li>
                    {% endcomment %}
                    <li><a href="{% url 'concepts_terms'  %}">Concepts and Terms</a></li>
                    {% comment %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'announcements'%}">Announcements</a></li>
                    <li><a href="{% url 'usage_statistics'%}">Usage Statistics</a></li>
                    <li><a href="{% url 'report_issues'   %}">Create Issue</a></li>
                    {% endcomment %}
                    <li role="separator" class="divider"></li>
                    <li><a href="https://accessibility.us.org/webpi/">ADA First Accessibility Widget</a></li>
                    <li><a href="https://accessibility.us.org/webpi/">WebPI Accessibility Bookmarklet</a></li>
                    <li role="separator" class="divider"></li>
                    {% if payment_enabled or shibboleth.enabled %}
                    <li><a href="{% url 'subscription'   %}">Subscription Options</a></li>
                    {% endif %}
                    {% comment %}
                    <li><a href="{% url 'donate'   %}">Donate</a></li>
                    {% endcomment %}
              </ul>
            </li>
            {% comment %}
            {% if user.profile.is_inst_admin %}
            <li class="dropdown">
              <a  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                Institutional Admin
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-label="Institutional Administrator Options">
                    <li><a href="{% url 'institutional_admin' user.profile.domain %}">User Information</a></li>
              </ul>
            </li>
            {% endif %}
            {% endcomment %}
            {% if user.is_superuser %}
            <li class="dropdown">
              <a  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                FAE Admin
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-label="FAE Administrator Options">
                    <li><a href="{% url 'fae_status'       %}">Processing Status</a></li>
                    <li><a href="{% url 'responses'        %}">Respond to Contacts</a></li>
                    <li><a href="{% url 'all_user_information' %}">User Information</a></li>
                    {% comment %}
                    {% if shibboleth.enabled %}
                    <li><a href="{% url 'institutional_information' %}">Institutional Information</a></li>
                    {% endif %}
                    {% endcomment %}
                    <li><a href="{% url 'payment_information' %}">Payment Information</a></li>
                    <li><a href="{% url 'create_announcement' %}">Create Announcement</a></li>
              </ul>
            </li>
            {% endif %}
            <li><a href="{% url 'rulesets' %}" title="WCAG 2.0 Rulesets">Rulesets</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'contact_form'  %}">Contact</a></li>
              <li><a href="{% url 'my_account' %}" >My Account</a></li>
              <li><a href="{% url 'logout' %}" >Logout: {{user.username}}</a></li>
            {% else %}
              {% if self_registration_enabled %}
                <li><a href="{% url 'django_registration_register' %}" >Register</a></li>
              {% endif %}
              <li><a href="{% url 'login' %}" >Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <nav id="id_breadcrumbs" aria-labelledby="breadcrumb-nav-label"  class="hidden-xs">
      <h2 id="breadcrumb-nav-label" class="sr-only">Breadcrumb Navigation</h2>
      <div class="container">
        <ul class="breadcrumb">
          <li><a href="{% url 'run_report' %}">Home</a></li>
          {% block breadcrumb %}
          {% endblock %}
        </ul>
      </div>
    </nav>  <!-- /container -->

    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        {% if user.is_authenticated %}
          <nav id="id_report_manage" aria-labelledby="id_report_manage_label">

            <h2 id="id_report_manage_label" class="sr-only">Report Management</h2>

             <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'run_report'          %}">Run FAE</a></li>
                <li><a href="{% url 'processing_reports'  %}">Report Processing</a></li>
                <li><a href="{% url 'archived_reports'    %}">Archived Reports</a></li>
                <li><a href="{% url 'manage_reports'      %}">Manage Reports</a></li>
             </ul>
          </nav>

        {% else %}
          <nav id="id_report_manage" aria-labelledby="id_report_manage_label">

            <h2 id="id_report_manage_label" class="sr-only">Run Page Report or Login</h2>

             <ul class="nav nav-pills nav-stacked">
                {% if anonymous_enabled %}
                  <li><a href="{% url 'run_anonymous_report'  %}">Run FAE</a></li>
                {% else %}
                <li><a href="{% url 'login'   %}">Login</a></li>
                {% endif %}
            </ul>
          </nav>
        {% endif %}

          {% if report_nav.page_count > 1 %}

          <nav id="id_nav_reports" aria-labelledby="id_nav_reports_label">

            <h2 id="id_nav_reports_label">Reports</h2>

            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'report_rules' report_nav.slug  report_nav.view %}">Summary</a></li>
                <li><a href="{% url 'report_pages' report_nav.slug  report_nav.view %}">All Pages</a></li>
                <li><a href="{% url 'report_page'  report_nav.slug  report_nav.view report_nav.page %}">Page {{report_nav.page}}</a></li>
            </ul>
          </nav>

          <nav id="id_view_nav" aria-labelledby="id_view_nav_label">

            <h2 id="id_view_nav_label">Current View</h2>

            <ul class="nav nav-pills nav-stacked">
            {% if report_nav.current_url %}
                <li id="id_view_current"><a href="{{report_nav.current_url}}">{{report_nav.current_label}}</a></li>
            {% else %}
                <li id="id_view_current"><a class="disabled">None</a></li>
            {% endif %}

                <li class="side_by_side">
                {% if report_nav.previous_url %}
                    <a href="{{report_nav.previous_url}}" class="left"  title="{{report_nav.previous_label}}">
                {% else %}
                    <a class="disabled left">
                {% endif %}
                        <span class="glyphicon glyphicon-step-backward"></span>
                        Prev
                    </a>

                {% if report_nav.next_url %}
                    <a href="{{report_nav.next_url}}" class="right" title="{{report_nav.next_label}}">
                {% else %}
                    <a class="disabled right">
                {% endif %}
                        Next
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </a>
                </li>
            </ul>
          </nav>

          <nav id="id_view_filters" aria-labelledby="id_view_filters_label" class="hidden-xs">

            <h2 id="id_view_filters_label">View Filters</h2>

            <ul class="nav nav-pills nav-stacked">
            {% for fi in report_nav.filters %}
                <li><a href="{{fi.url}}">{{fi.label}}</a></li>
            {% endfor %}
            </ul>
          </nav>
          {% else %}

            {% if report_nav.slug %}
            <nav id="id_nav_reports" aria-labelledby="id_nav_reports_label">

              <h2 id="id_nav_reports_label">Reports</h2>

              <ul class="nav nav-pills nav-stacked">
                  <li><a href="{% url 'report_page' report_nav.slug  report_nav.view  1 %}">Page Summary</a></li>
              </ul>
            </nav>
            {% endif %}

          {% endif %}

        </div>

        <main class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
          {% if messages %}
            <section aria-labelledby="messages-label">
                <h2 id="messages-label" class="sr-only">Important Messages</h2>
                {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
                {% endfor %}
            </section>
          {% endif %}
          <section id="content">
            <div class="row">
              {% block content_before_title %}
              {% endblock content_before_title %}
            </div>
            <div class="row row-no-gutters page-header">
              <div class="col-xs-12 col-md-9">
                <h1 id="id_page_title">{% block title %}{% endblock title %}</h1>
              </div>
              <div class="col-xs-12 col-md-3">
                {% if report %}
                  <div id="sendto" class="center-block btn-group btn-group-lg" role="group">
                    <a href="mailto:?cc={{report.user.email}}&amp;subject=FAE report for {{report.title}}&amp;body=FAE Report%0D%0DTitle:%20{{report.title}}%0DURL:%20{{report.url}}%0DRuleset:%20{{report.ruleset}}%0DDepth:%20{{report.depth}}%0DCreated: {{report.created}}%0DFrom:%20{{report.user.first_name}}%20{{report.user.last_name}}%0D%0DFAE Report:%20{{site.domain}}/{{report_nav.current_url}}" title="Share report URL using e-mail" class="btn btn-success"><span class="glyphicon glyphicon-envelope"></span>E-mail Report
                    </a>
                    <a href="{{report_nav.current_url}}csv/" title="Download CSV version of report data" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-save"></span>Save CSV
                    </a>
                  </div>
                {% endif %}
              </div> <!-- /col-md-3 -->
            </div> <!-- /row -->
            {% block content %}
            {% endblock content %}
          </section>
        </main>
      </div>
    </div>  <!-- /container -->

    <footer role="contentinfo" class="container">
      <nav class="navbar navbar-default">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'disclaimer' %}" title="Terms of Service">Terms</a></li>
            <li><a href="{% url 'privacy'    %}" title="Privacy Policy">Privacy</a></li>
            <li><a href="{% url 'vpat'       %}" title="Accessibilty Statement">Accessibility</a></li>
            {% comment %}
            <li><a href="{% url 'versions'   %}" title="Additional Navigation">Sitemap</a></li>
            {% endcomment %}
            <li><a href="https://www.adafirst.org/">ADA First</a></li>
          </ul>
        </div>
      </nav>
    </footer>
      <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/bootstrap-accessibility.min.js' %}"></script>
      <script src="{% static 'js/moment.min.js' %}"></script>
      <script src="{% static 'js/bootstrap-sortable.js' %}"></script>
      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/fae2.js' %}"></script>
      <script>
          $(document).ready(function() {
              $('[data-toggle=offcanvas]').click(function() {
                  $('.row-offcanvas').toggleClass('active');
              });
          });
      </script>
      <script>
      // Use the SkipTo defaults, but just showing custom configuration
      var SkipToConfig =
      {
        "settings": {
          "skipTo": {
            "headings": "h1, h2"
          }
        }
      };
      </script>
      <script type="text/javascript" src="{% static 'js/SkipTo.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/fae-info-button.js' %}"></script>
      <script type="text/javascript">
        window.addEventListener('load', function() {

          function cleanURL(u) {

            index1 = u.indexOf('?');
            index2 = u.indexOf('#');
            target = ""

            if (index2 > 0) target = u.substring(index2, u.length);
            if (index1 > 0) url = u.substring(0, index1) + target;

            return u;
          }

          function checkLinks(url, links, style) {

            if (typeof links !== 'object') return false;

            for (var i = 0; i < links.length; i++) {
              var link = links[i];
              var href = cleanURL(link.href);

              if (href == url) {
                if (link.parentNode.className.indexOf('active') < 0) {
                  link.parentNode.className = style;
                }
                return true;
              }
            }
            return false;
          }
          function setActiveLink(url) {

            checkLinks(url, document.querySelectorAll('#top-navbar       a[href]'), 'active');
            checkLinks(url, document.querySelectorAll('#id_report_manage a[href]'), 'active');
            flag_reports = checkLinks(url, document.querySelectorAll('#id_nav_reports   a[href]'), 'active');
            flag_filters = checkLinks(url, document.querySelectorAll('#id_view_filters  a[href]'), 'active');

          }
          function setHighlightLink(url) {
          }
          var flag_report  = false;
          var flag_filters = false;
          var flag_nav     = false;

          var url = cleanURL(window.location.href);

          setActiveLink(url)

          if (!flag_reports && !flag_filters) {
            flag_nav = checkLinks(url, document.querySelectorAll('#id_view_nav a[href]'), 'active');
          }
          var breadcrumbs = document.querySelectorAll('#id_breadcrumbs a[href]')

          for (var i =(breadcrumbs.length-1); 0 < i; i--) {
            url = cleanURL(breadcrumbs[i].href);

            if (!flag_report)  flag_report  = checkLinks(url, document.querySelectorAll('#id_nav_reports   a[href]'), 'highlight');
            if (!flag_filters) flag_filters = checkLinks(url, document.querySelectorAll('#id_view_filters  a[href]'), 'highlight');
          }
          if (!flag_reports && !flag_filters && !flag_nav && {% if report_nav.page_count %}({{report_nav.page_count}} > 1){% else %}false{% endif %}) {
            document.getElementById('id_view_current').className = 'highlight';
          }
        });
        window.addEventListener('load', function() {

          var tablist = document.querySelectorAll('[role=tablist]');

          for (var i = 0; i < tablist.length; i++) {
            tablist[i].removeAttribute('role');
          }
        });
</script>
   {% block javascript %}
   {% endblock javascript %}
  </body>
</html>

