{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{site.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">

    <!-- Your stuff: Third-party css libraries go here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-accessibility.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-sortable.css' %}">

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/fae2.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>
    <nav id="top-navbar-container" class="navbar navbar-inverse" aria-labelledby="top-navbar-label">
      <h2 id="top-navbar-label" class="sr-only">Main Navigation</h2>
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar" aria-controls="top-navbar">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.domain}}" aria-label="Run Report">{{site.name}}</a>
        </div>

        <div id="top-navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'rulesets' %}">Rulesets</a></li>

            <li class="dropdown">
              <a  href="#" 
                  class="dropdown-toggle" 
                  data-toggle="dropdown" 
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                About
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-label="About FAE and other resources">
                    <li><a href="{% url 'overview'        %}">Overview</a></li>
                    <li><a href="http://ainspector.github.io">AInspector Sidebar</a></li>
                    <li><a href="{% url 'usage_statistics'%}">Usage Statistics</a></li>
                    <li><a href="{% url 'concepts_terms'  %}">Concepts and Terms</a></li>
                    <li><a href="{% url 'disclaimer'      %}">Disclaimer</a></li>
                    <li><a href="{% url 'privacy'         %}">Privacy</a></li>
                    <li><a href="{% url 'versions'        %}">Version History</a></li>
                    <li><a href="{% url 'contact_form'    %}">Contact</a></li>
                    <li><a href="{% url 'report_issues'   %}">Create Issues</a></li>
              </ul>
            </li>
            {% if user.is_superuser %}
            <li class="dropdown">
              <a  href="#" 
                  class="dropdown-toggle" 
                  data-toggle="dropdown" 
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                Admin
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-label="Administration Options">
                    <li><a href="{% url 'fae_status'       %}">Processing Status</a></li>
                    <li><a href="{% url 'responses'        %}">Respond to Contacts</a></li>
                    <li><a href="{% url 'all_user_information' %}">User Information</a></li>
              </ul>
            </li>        
            {% endif %}
            {% if user.is_authenticated %}
              <li><a href="{% url 'user_profile' %}" >My Account</a></li>
              <li><a href="{% url 'logout' %}" >Logout: {{user.username}}</a></li>
            {% else %}
              {% if self_registration_enabled %}
                <li><a href="{% url 'registration_register' %}" >Register</a></li>
              {% endif %}  
              <li><a href="{% url 'login' %}" >Login</a></li>
            {% endif %}              
          </ul>
        </div>  
      </div>
    </nav>


    <nav id="breadcrumb-nav" aria-labelledby="breadcrumb-nav-label" >
      <h2 id="breadcrumb-nav-label" class="sr-only">Breadcrumb Navigation</h2>
      <div class="container">
        <ul class="breadcrumb">
          <li><a href="{% url 'run_report' %}">Home</a></li>
          {% block breadcrumb %}
          {% endblock %}
        </ul>  
      </div>  
    </nav>  <!-- /container --> 

    <main>
      <div class="container">

        <div class="row">

          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
          {% if user.is_authenticated %}
            <nav aria-labelledby="nav-report-management">

              <h2 id="nav-report-management" class="sr-only">Report Management</h2>

               <ul class="nav nav-pills nav-stacked">
                  <li><a href="{% url 'run_report'            %}">Run FAE</a></li>
                  <li><a href="{% url 'processing_reports'     %}">Report Processing</a></li>
                  <li><a href="{% url 'archived_reports'       %}">Archived Reports</a></li>
                  <li><a href="{% url 'manage_reports'         %}">Manage Reports</a></li>
               </ul> 
            </nav>
               
            <nav id="id_nav_reports" aria-labelledby="id_nav_reports_label">  

              <h2 id="id_nav_reports_label">Summary Reports</h2>

              <ul class="nav nav-pills nav-stacked">  
                {% if request.session.last_report_page_count = 1 %}
                  {% if report and report.slug|length and view|length %}
                    <li><a href="{% url 'show_report_page' report.slug  view  1 %}">Page Report</a></li>
                  {% else %}  
                    {% if request.session.last_report_slug %}
                      {% if request.session.last_report_view %}
                      <li><a href="{% url 'show_report_page' request.session.last_report_slug request.session.last_report_view 1 %}">Page Report</a></li>
                      {% else %}
                      <li><a href="{% url 'show_report_page' request.session.last_report_slug  'rc' 1 %}">Page Report</a></li>
                      {% endif %}
                    {% endif %}  
                  {% endif %}  
                {% else %}
                  {% if report and report.slug|length and view|length %}
                    <li><a href="{% url 'show_report'           report.slug  view                  %}">All Rules</a></li>
                    <li><a href="{% url 'show_report_all_pages' report.slug  view                  %}">All Pages</a></li>
                    <li><a href="{% url 'show_report_page'      report.slug  view report.last_page %}">Page {{report.last_page}}</a></li>

                  {% else %}
                    {% if request.session.last_report_slug %}

                      {% if request.session.last_report_view %}
                      <li><a href="{% url 'show_report'           request.session.last_report_slug request.session.last_report_view %}">All Rules</a></li>
                      <li><a href="{% url 'show_report_all_pages' request.session.last_report_slug request.session.last_report_view %}">All Pages</a></li>
                      {% else %}
                      <li><a href="{% url 'show_report'           request.session.last_report_slug 'rc' %}">All Rules</a></li>
                      <li><a href="{% url 'show_report_all_pages' request.session.last_report_slug 'rc' %}">All Pages</a></li>
                      {% endif %}

                      {% if request.session.last_report_page %}
                      <li><a href="{% url 'show_report_page'  request.session.last_report_slug request.session.last_report_view request.session.last_report_page %}">Page {{request.session.last_report_page}}</a></li>
                      {% else %}
                      <li><a href="{% url 'show_report_page'  request.session.last_report_slug  'rc' 1 %}">Page 1</a></li>
                      {% endif %}

                    {% endif %}  
                  {% endif %}
                {% endif %}  
              </ul>  
            </nav>

            {% if request.session.last_report_page_count > 1 %}
            <nav id="id_nav_pages" aria-labelledby="id_nav_pages_label">  

              <h2 id="id_nav_pages_label">Page Navigation</h2>

              <ul class="nav nav-pills nav-stacked">  
                  {% if report and report.slug|length and view|length %}

                    <li class="side_by_side">
                      {% if report.prev_page_url|length %}
                      <a href="{{report.prev_page_url}}" class="left">
                      {% else %}
                      <a class="disabled left"> 
                      {% endif %}
                        <span class="glyphicon glyphicon-step-backward"></span> 
                        <abbr title="Previous Page">Prev</abbr>
                      </a>
                      {% if report.next_page_url|length %}
                      <a href="{{report.next_page_url}}" class="right">
                      {% else %}
                      <a class="disabled right">
                      {% endif %}
                         <abbr title="Next Page">Next</abbr>
                         <span class="glyphicon glyphicon-step-forward"></span>
                      </a>
                    </li>

                    <li class="side_by_side">
                      {% if report.first_page_url|length %}
                      <a href="{{report.first_page_url}}" class="left">
                      {% else %}
                      <a class="disabled left"> 
                      {% endif %}
                        <span class="glyphicon glyphicon-fast-backward"></span> 
                        <abbr title="First Page">First</abbr>
                      </a>
                      {% if report.last_page_url|length %}
                      <a href="{{report.last_page_url}}" class="right">
                      {% else %}
                      <a class="disabled right">
                      {% endif %}
                         <abbr title="Last Page">Last</abbr>
                         <span class="glyphicon glyphicon-fast-forward"></span>
                      </a>
                    </li>


                  {% else %}
                    {% if request.session.last_report_slug %}

                    <li class="side_by_side">
                      {% if request.session.prev_page_url|length %}
                      <a href="{{request.session.prev_page_url}}" class="left">
                      {% else %}
                      <a class="disabled left"> 
                      {% endif %}
                        <span class="glyphicon glyphicon-step-backward"></span> 
                        <abbr title="Previous Page">Prev</abbr>
                      </a>
                      {% if request.session.next_page_url|length %}
                      <a href="{{request.session.next_page_url}}" class="right">
                      {% else %}
                      <a class="disabled right"> 
                      {% endif %}
                         <abbr title="Next Page">Next</abbr>
                         <span class="glyphicon glyphicon-step-forward"></span>
                      </a>
                    </li>

                    <li class="side_by_side">
                      {% if request.session.first_page_url|length %}
                      <a href="{{request.session.first_page_url}}" class="left">
                      {% else %}
                      <a class="disabled left"> 
                      {% endif %}
                        <span class="glyphicon glyphicon-fast-backward"></span> 
                        <abbr title="First Page">First</abbr>
                      </a>
                      {% if request.session.last_page_url|length %}
                      <a href="{{request.session.last_page_url}}" class="right">
                      {% else %}
                      <a class="disabled right"> 
                      {% endif %}
                         <abbr title="Last Page">Last</abbr>
                         <span class="glyphicon glyphicon-fast-forward"></span>
                      </a>
                    </li>
                    

                    {% endif %}  
                  {% endif %}
                {% endif %}  
              </ul>  
            </nav>            
          {% else %}
            <nav aria-labelledby="nav-report-management">
               <ul class="nav nav-pills nav-stacked">
                  <li><a href="{% url 'login'   %}">Login</a></li>
                  {% if anonymous_enabled %}
                    <li><a href="{% url 'run_anonymous_report'  %}">Run FAE</a></li>
                    {% if request.session.last_report_slug and request.session.last_report_view %}
                    <li><a href="{% url 'show_report_page' request.session.last_report_slug  request.session.last_report_view  1 %}">Page Report</a></li>
                    {% endif %}
                  {% endif %}  
              </ul>
            </nav>
          {% endif %}
          </div>

          <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
          {% if messages %}
            <section aria-labelledby="messages-label">
                <h2 id="messages-label" class="sr-only">Important Messages</h2>
                {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </section>    
          {% endif %}

            <section id="content">

            <h1 id="id_page_title">{% block title %}{% endblock title %}</h1>

            {% block content %}

            {% endblock content %}
            </section>
          </div>

        </div>  

      </div>  

    </main> <!-- /container -->

    <footer>
      <div class="container">
        <div style="float: left">
        Version {% include 'version.txt' %} | <a href="{% url 'run_referer_report' %}">Evaluate Page</a>
        </div>
        <div class="text-right">Copyright Universioty of Illinois 2014-16</div>
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <!-- Latest JQuery -->
      <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="{% static 'js/bootstrap.js' %}"></script>

      <script src="{% static 'js/bootstrap-accessibility.min.js' %}"></script>

      <!-- Latest compiled and minified bootstrap sortable JavaScript -->
      <script src="{% static 'js/moment.min.js' %}"></script>

      <script src="{% static 'js/bootstrap-sortable.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/fae2.js' %}"></script>


      <script>
          $(document).ready(function() {
              $('[data-toggle=offcanvas]').click(function() {
                  $('.row-offcanvas').toggleClass('active');
              });
          });

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53851729-1', 'auto');
        ga('send', 'pageview');

      </script>


      <script>
      // Use the SkipTo defaults, but just showing custom configuration
      var SkipToConfig =
      {
        "settings": {
          "skipTo": {
            "headings": "h1, h2"
          }
        }
      };
      </script>

      <script type="text/javascript" src="{% static 'js/SkipTo.min.js' %}"></script>

      <script type="text/javascript">

        window.addEventListener('load', function() {

          var url = window.location.href;
          var index1 = url.indexOf('?');
          var index2 = url.indexOf('#');
          var target = ""

          if (index2 > 0) target = url.substring(index2, url.length);
          if (index1 > 0) url = url.substring(0, index1) + target;

          var links = document.querySelectorAll('li > a[href]');

          for (var i = 0; i < links.length; i++) {
            var link = links[i];
            var href = link.href;

            index1 = href.indexOf('?');
            index2 = href.indexOf('#');
            target = ""

            if (index2 > 0) target = href.substring(index2, url.length);
            if (index1 > 0) href = href.substring(0, index1) + target;

            if (href == url) {
              link.parentNode.className = "active"
            }
          }

        });

        window.addEventListener('load', function() {

          var tablist = document.querySelectorAll('[role=tablist]');

          for (var i = 0; i < tablist.length; i++) {
            tablist[i].removeAttribute('role');

          }

        });


</script>

   {% block javascript %}

   {% endblock javascript %}
  </body>
</html>
 
