confusable-homoglyphs==3.2.0
Django~=2.2.12
django-password-reset==2.0
django-registration==3.1
django-timezone-field==4.0
future==0.18.2
Markdown==3.2.2
psycopg2~=2.8.5
pytz==2020.1
requests==2.23.0
sqlparse==0.3.1
django-google-tag-manager==0.0.5
django-extensions==2.2.9
django-debug-toolbar==2.2
Werkzeug==1.0.1
mod-wsgi~=4.7.1
django-logentry-admin==1.0.6
django-fake-bot-detector==0.2
