    <fieldset>
      <legend>Following and/or Excluding Links</legend>

      <p>NOTE: If you include a <code>path</code> (e.g. /path/) only pages with the specified domain and path will be included in the report. </p>

      <p>

      <div class="input">
        <label id="id_input_span_sub_domains_label" for="id_input_span_sub_domains">Include links with any next-level subdomain of the following domains</label>
        <span class="fae_info_button" aria-controls="id_inst_span_sub_domains"></span>
        <div id="id_inst_span_sub_domains" class="fae_info">             
            Include pages found with any next-level sub-domain of the following <code>domain</code> names, unless excluded by the next option.
            (Note: domain names are space separated).
        </div>    
        <div {% if form.span_sub_domains.errors|length %}class="error"{% endif %}>
        <div class="fae_input fae_input_text">
          <input 
              id="id_input_span_sub_domains"
              name="span_sub_domains"
              {% if form.span_sub_domains.errors|length %}aria-invalid="true"{% endif %}
              value="{{form.span_sub_domains.value}}"
              size="80"
              placeholder="somewhere.org elsewhere.org"/>
        </div>    
        {% if form.span_sub_domains.errors|length %}
        <label class="error" for="id_input_span_sub_domains">{% for error in form.span_sub_domains.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
      </div>

      <div class="input">
        <label id="id_input_exclude_sub_domains_label" for="id_input_exclude_sub_domains">Exclude links with the following domains</label>
        <span class="fae_info_button" aria-controls="id_inst_exclude_sub_domains"></span>
        <div id="id_inst_exclude_sub_domains" class="fae_info">             
            Exclude pages found with the following <code>domain</code> names from the evaluation.
            (Note: domain names are space separated).
        </div>    
        <div {% if form.exclude_sub_domains.errors|length %}class="error"{% endif %}>
        <div class="fae_input fae_input_text">
          <input 
              id="id_input_exclude_sub_domains"
              name="exclude_sub_domains"
              {% if form.exclude_sub_domains.errors|length %}aria-invalid="true"{% endif %}
              value="{{form.exclude_sub_domains.value}}"
              size="80"
              placeholder="blog.somewhere.org news.somewhere.org"/>
        </div>      
        {% if form.exclude_sub_domains.errors|length %}
        <label class="error" for="id_input_exclude_sub_domains">{% for error in form.exclude_sub_domains.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
      </div>

      <div class="input">
        <label id="id_input_include_domains_label" for="id_input_include_domains">Include links with the following domains</label>
        <span class="fae_info_button" aria-controls="id_inst_include_domains"></span>
        <div id="id_inst_include_domains" class="fae_info">             
            Include links found with the following <code>domain</code> names in the evaluation.
            (Note: domain names are space separated).
        </div>    
        <div {% if form.include_domains.errors|length %}class="error"{% endif %}>
        <div class="fae_input fae_input_text">
        <input 
            id="id_input_include_domains"
            name="include_domains"
            {% if form.include_domains.errors|length %}aria-invalid="true"{% endif %}
            value="{{form.include_domains.value}}"
            size="80"
            placeholder="events.somewhere.org calendar.somewhere.org"/>
        </div>    
        {% if form.include_domains.errors|length %}
        <label class="error" for="id_input_include_domains">{% for error in form.include_domains.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
      </div>
    </fieldset>
