    <fieldset class="fae_group">   
        {% if form.ruleset.errors|length %}
        <legend class="error">
          {{form.ruleset.label}}: 
          {% for error in form.ruleset.errors %}{{error}}{% endfor %} 
        {% else %}
        <legend>
          {{form.ruleset.label}} 
        {% endif %}
        
          <span class="fae_info_button" aria-controls="id_inst_ruleset"></span>
        </legend>
        <div id="id_inst_ruleset" class="fae_info">             
            <a href="{% url 'rulesets' %}">Link to more detailed ruleset information</a>.
        </div>


        <div class="fae_radio">
            <label title="WCAG 2.0 Level A and AA requirements using ARIA and HTML5 accessibility features.">
                <input
                    type="radio"
                    name="ruleset"
                    value="2"
                    {% if form.ruleset.value == 2 %}
                    checked
                    {% endif %}
                />
                <span>HTML5 and ARIA Techniques</span>
            </label>


        <div class="fae_radio">
            <label title="WCAG 2.0 Level A and AA requirements using legacy HTML4 features, but allowing the use of ARIA and HTML5 accessibility features.">
                <input
                    type="radio"
                    name="ruleset"
                    value="1"
                    {% if form.ruleset.value == 1 %}
                    checked
                    {% endif %}
                />
                <span>HTML4 Legacy Techniques</span>
            </label>
        </div>
    </fieldset>

