   <fieldset id="id_max_pages">
        
        {% if form.max_pages.errors|length %}
        <legend class="error">{{form.max_pages.label}}: {% for error in form.max_pages.errors %}{{error}}{% endfor %}</legend>
        {% else %}
        <legend>{{form.max_pages.label}}</legend>
        {% endif %}

        {% for choice in form.max_pages.field.choices %}
            {% if choice.0 <= user.profile.account_type.max_pages or payment_enabled and choice.0 <= user.profile.account_type.next_account_type.max_pages  %}
            <div class="fae_input">
                <input
                    type="radio"
                    value="{{choice.0}}"
                    {% if choice.0 <= user.profile.account_type.max_pages %}
                    id="max_pages_{{ choice.0 }}"
                    name="max_pages"
                    {% else %}
                    id="max_pages_disabled_{{ choice.0 }}"
                    disabled="disabled"
                    {% endif %}
                    {% if user.profile.account_type.max_pages == choice.0 %}checked="checked"{% endif %}
                />
                <label for="max_pages_{% if choice.0 > user.profile.account_type.max_pages %}disabled_{% endif %}{{ choice.0 }}">{{choice.1}}</label>
            </div>
            {% endif %}
        {% endfor %}

        {% if payment_enabled and user.profile.account_type.next_account_type %}
            {% if user.profile.account_type.next_account_type.type ==  1 %}
        <p class="subscription"><a href="{% url 'update_subscription' %}">Subscribe</a> to FAE to increase the number of pages spidered.</p>
            {% else %}
        <p class="subscription">Note: Change the level of your <a href="{% url 'update_subscription' %}">subscription</a> to increase the number of pages spidered.</p>
            {% endif %}
        {% endif %}

    </fieldset>
    
