    <div class="input" >
        <label for="id_input_url">URL</label>
        
        <span class="fae_info_button" aria-controls="id_inst_url"></span>
        <div id="id_inst_url" class="fae_info">             
            If you include a <code>path</code> (e.g. /path/) as part of the URL it will be used to filter the pages analyzed, just like the <code>domain</code> (e.g. example.org) name filter.
        </div>

        <div {% if form.url.errors|length %}class="error"{% endif %}>
        <div class="fae_input fae_input_text">
            <input 
                id="id_input_url"
                name="url"
                required="required"
                value="{{form.url.value}}"
                {% if form.url.errors|length %}aria-invalid="true"{% endif %}
                size="60"
                placeholder="http://example.org/path/"
                title="URL must start with http:// or https://, example: http://example.org"/> 
        </div>    
        {% if form.url.errors|length %}
        <label class="error" for="id_input_url">{% for error in form.url.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
    </div>
