    <fieldset>   
        {% if form.protocol.errors|length %}
        <legend class="error">{{form.protocol.label}}: {% for error in form.protocol.errors %}{{error}}{% endfor %}</legend>
        {% else %}
        <legend>{{form.protocol.label}}</legend>
        {% endif %}


        {% for choice in form.protocol.field.choices %}
        <div class="fae_input">
            <input
                id="id_input_protocol_{{ forloop.counter }}"
                type="radio"
                name="protocol"
                value="{{choice.0}}"
                {% if form.protocol.value|slugify = choice.0|slugify %}
                checked
                {% endif %}
            />
            <label for="protocol_{{ forloop.counter }}">{{choice.1}}</label>
        </div>
        {% endfor %}
    </fieldset>


