    <fieldset>   
        {% if form.ruleset.errors|length %}
        <legend class="error">
          {{form.ruleset.label}}: 
          {% for error in form.ruleset.errors %}{{error}}{% endfor %} 
          <span class="fae_info_button" aria-controls="id_inst_ruleset"></span>
        </legend>
        {% else %}
        <legend>
          {{form.ruleset.label}} 
          <span class="fae_info_button" aria-controls="id_inst_ruleset"></span>
        </legend>
        {% endif %}

        
        
        <div id="id_inst_ruleset" class="fae_info">             
            <a href="{% url 'rulesets' %}">Link to more detailed ruleset information</a>.
        </div>


        {% for choice in form.ruleset.field.choices %}
        <div class="fae_input">
            <input
                id="id_ruleset_{{ forloop.counter }}"
                type="radio"
                name="ruleset"
                value="{{choice.0}}"
                {% if form.ruleset.value|slugify == choice.0|slugify %}
                checked
                {% endif %}
            />
            <label for="id_ruleset_{{ forloop.counter }}" {% ifequal 'ARIA_STRICT' choice.0 %}
            title="WCAG 2.0 Level A and AA requirements using ARIA and HTML5 accessibility features."
            {% else %}
            title="WCAG 2.0 Level A and AA requirements using legacy HTML4 features, but allowing the use of ARIA and HTML5 accessibility features."
            {% endifequal %}>{{choice.1}}</label>
        </div>
        {% endfor %}
    </fieldset>

