    <div class="fae_group" >
        <label for="id_input_url">Starting URL</label>

        <div {% if form.url.errors|length %}class="error"{% endif %}>
        <div class="fae_textbox">
            <input
                id="id_input_url"
                name="url"
                type="url"
                required="required"
                value="{{form.url.value}}"
                {% if form.url.errors|length %}aria-invalid="true"{% endif %}
                size="60"
                placeholder="https://example.com/page/"
                title="URL must start with http:// or https://, example: https://example.org"/>
        </div>
        {% if form.url.errors|length %}
        <label class="error" for="id_input_url">{% for error in form.url.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
    </div>
