    <fieldset id="id_following" {% if form.follow.errors|length %}class="error"{% endif %}>
        {% if form.follow.errors|length %}
        <legend class="error">{{form.follow.label}}: {% for error in form.follow.errors %}{{error}}{% endfor %}
        {% else %}
        <legend>
        {{form.follow.label}} 
         {% endif %}
          <span class="fae_info_button" aria-controls="id_inst_following"></span>
        </legend>

        <div id="id_inst_following" class="fae_info">             
            This option allows for additional control over which pages are included or excluded from an evaluation based on the domain names of each link in the website.
            You can review the URLs of a report by selecting the "Included URLs" link in the Report Information section at the top of each page of a Report. 
        </div>            

        <div class="fae_input">
            <input
                id="id_follow_1"
                type="radio"
                name="follow"
                value="1"
                {% if form.follow.value == 1 %}
                checked
                {% endif %}
            />
            <label for="id_follow_1">Specified domain only</label>

        </div>

        <div class="fae_input_indent">

            <div class="fae_input">
                <input 
                    id="id_input_require_path" 
                    type="checkbox" 
                    name="require_path" 
                    {% if form.require_path %}
                    check
                    {% endif %}
                    {% if not form.path.value %}disabled{% endif %}
                />
                <label for="id_input_require_path" class="{% if not form.path.value %}disabled{% endif %}">
                With specified path:
                {% if form.path and form.path.length %}
                <span id="id_path_value">{{form.path.value}}</span>
                {% else %}
                <span id="id_path_value" class="undefined">no path defined</span>
                {% endif %}
                <span class="fae_info_button" aria-controls="id_inst_url"></span>
                </label>
        

            </div>
        </div>    

        <div id="id_inst_url" class="fae_info" style="margin-left: 2.5em;">             
            If a <code>/path/</code> is included in the Starting URL, checking this option will require the <code>/path/</code> for pages included in the evaluation.  
        </div>
 
        <div class="fae_input">
            <input
                id="id_follow_2"
                type="radio"
                name="follow"
                value="2"
                {% if form.follow.value == 2 %}
                checked
                {% endif %}
            />
            <label for="id_follow_2">Specified domain and all of its next-level subdomains <span class="fae_info_button" aria-controls="id_inst_follow_2"></span></label>
            
      </div>

        <div id="id_inst_follow_2" class="fae_info" style="margin-left: 1.5em;">             
            Include pages found with any next-level sub-domain domain specified in the starting URL (e.g. calendar.somewhere.org, events.somewhere.org).
        </div>    

       {% if profile.account_type.advanced %}   
  
        <div class="fae_input">
            <input
                id="id_follow_3"
                type="radio"
                name="follow"
                value="3"
                {% if form.follow.value == 3 %}
                checked
                {% endif %}
            />
            <label for="id_follow_3">Specified domain and the following inclusions and/or exclusions:</label>
        </div>
            
        <div class="fae_input_indent">
 
            <div class="input">
                <label id="id_input_span_sub_domains_label" for="id_input_span_sub_domains" >Include links with any next-level subdomain of the following domains</label>
                <span class="fae_info_button" aria-controls="id_inst_span_sub_domains"></span>
                <div id="id_inst_span_sub_domains" class="fae_info">             
                    Include pages found with any next-level sub-domain of the following <code>domain</code> names, unless excluded by the next option.
                    (Note: domain names are space separated).
                </div>    
                <div {% if form.span_sub_domains.errors|length %}class="error"{% endif %}>
                    <div class="fae_input fae_input_text">
                      <input 
                          id="id_input_span_sub_domains"
                          name="span_sub_domains"
                          {% if form.span_sub_domains.errors|length %}aria-invalid="true"{% endif %}
                          value="{{form.span_sub_domains.value}}"
                          size="80"
                          placeholder="somewhere.org"/>
                    </div>    
                    {% if form.span_sub_domains.errors|length %}
                    <label class="error" for="id_input_span_sub_domains">{% for error in form.span_sub_domains.errors %}{{error}}{% endfor %}</label>
                    {% endif %}
                </div>
            </div>

            <div class="input">
                <label id="id_input_exclude_domains_label" for="id_input_exclude_domains" >Exclude links with the following domains</label>
                <span class="fae_info_button" aria-controls="id_inst_exclude_domains"></span>
                <div id="id_inst_exclude_domains" class="fae_info">             
                    Exclude pages found with the following <code>domain</code> names from the evaluation.
                    (Note: domain names are space separated).
                </div>    
                <div {% if form.exclude_domains.errors|length %}class="error"{% endif %}>
                    <div class="fae_input fae_input_text">
                      <input 
                          id="id_input_exclude_domains"
                          name="exclude_domains"
                          {% if form.exclude_domains.errors|length %}aria-invalid="true"{% endif %}
                          value="{{form.exclude_domains.value}}"
                          size="80"
                          placeholder="blog.somewhere.org"/>
                    </div>      
                {% if form.exclude_domains.errors|length %}
                <label class="error" for="id_input_exclude_domains">{% for error in form.exclude_domains.errors %}{{error}}{% endfor %}</label>
                {% endif %}
                </div>
            </div>    

            <div class="input">
                <label id="id_input_include_domains_label" for="id_input_include_domains">Include links with the following domains</label>
                <span class="fae_info_button" aria-controls="id_inst_include_domains"></span>
                <div id="id_inst_include_domains" class="fae_info">             
                    Include links found with the following <code>domain</code> names in the evaluation.
                    (Note: domain names are space separated).
                </div>    
                <div {% if form.include_domains.errors|length %}class="error"{% endif %}>
                    <div class="fae_input fae_input_text">
                        <input 
                            id="id_input_include_domains"
                            name="include_domains"
                            {% if form.include_domains.errors|length %}aria-invalid="true"{% endif %}
                            value="{{form.include_domains.value}}"
                            size="80"
                            placeholder="events.somewhere.org"/>
                    </div>    
                    {% if form.include_domains.errors|length %}
                    <label class="error" for="id_input_include_domains">{% for error in form.include_domains.errors %}{{error}}{% endfor %}</label>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}   

    </fieldset>    
