    <div class="input" >
        <label for="id_input_domain">Domain</label>
        <span class="fae_info_button" aria-controls="id_inst_domain"></span>
        <div id="id_inst_domain" class="fae_info">             
            The <code>domain</code> name to begin spidering the pages in a website.  
            Unless additional domain information is defined, only pages that 
            have this domain name will be included in the evaluation.
        </div>    
        <div {% if form.domain.errors|length %}class="error"{% endif %}>
        <div class="fae_input fae_input_text">
            <input 
                id="id_input_domain"
                name="domain"
                required="required"
                value="{{form.domain.value}}"
                {% if form.domain.errors|length %}aria-invalid="true"{% endif %}
                size="60"
                placeholder="www.somewhere.org"/> 
        </div>    
        {% if form.domain.errors|length %}
        <label class="error" for="id_input_domain">{% for error in form.domain.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
    </div>
