    <fieldset>
      <legend>Domain Information</legend>

      <div class="input">
        <label id="id_input_span_sub_domains_label" for="id_input_span_sub_domains">Span Domains</label>
        <span class="fae_info_button" aria-controls="id_inst_span_sub_domains"></span>
        <div id="id_inst_span_sub_domains" class="fae_info">             
            Pages found with any first level sub-domain of the following <code>domain</code> names will be include in the evaluation, unless exlcuded by the next option.
            (Note: domain names are space separated).
        </div>    
        <div {% if form.span_sub_domains.errors|length %}class="error"{% endif %}>
        <div class="fae_input fae_input_text">
          <input 
              id="id_input_span_sub_domains"
              name="span_sub_domains"
              {% if form.span_sub_domains.errors|length %}aria-invalid="true"{% endif %}
              value="{{form.span_sub_domains.value}}"
              size="80"
              placeholder="example.com"/>
        </div>    
        {% if form.span_sub_domains.errors|length %}
        <label class="error" for="id_input_span_sub_domains">{% for error in form.span_sub_domains.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
      </div>

      <div class="input">
        <label id="id_input_exclude_sub_domains_label" for="id_input_exclude_sub_domains">Exclude Domains</label>
        <span class="fae_info_button" aria-controls="id_inst_exclude_sub_domains"></span>
        <div id="id_inst_exclude_sub_domains" class="fae_info">             
            Exclude all pages found with the following <code>domain</code> names from the evaluation.
            (Note: domain names are space separated).
        </div>    
        <div {% if form.exclude_sub_domains.errors|length %}class="error"{% endif %}>
        <div class="fae_input fae_input_text">
          <input 
              id="id_input_exclude_sub_domains"
              name="exclude_sub_domains"
              {% if form.exclude_sub_domains.errors|length %}aria-invalid="true"{% endif %}
              value="{{form.exclude_sub_domains.value}}"
              size="80"
              placeholder="blog.example.com news.example.com"/>
        </div>      
        {% if form.exclude_sub_domains.errors|length %}
        <label class="error" for="id_input_exclude_sub_domains">{% for error in form.exclude_sub_domains.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
      </div>

      <div class="input">
        <label id="id_input_include_domains_label" for="id_input_include_domains">Include Domains</label>
        <span class="fae_info_button" aria-controls="id_inst_include_domains"></span>
        <div id="id_inst_include_domains" class="fae_info">             
            Include all pages found with the following <code>domain</code> names in the evaluation.
            (Note: domain names are space separated).
        </div>    
        <div {% if form.include_domains.errors|length %}class="error"{% endif %}>
        <div class="fae_input fae_input_text">
        <input 
            id="id_input_include_domains"
            name="include_domains"
            {% if form.include_domains.errors|length %}aria-invalid="true"{% endif %}
            value="{{form.include_domains.value}}"
            size="80"
            placeholder="events.example.com calendar.example.com"/>
        </div>    
        {% if form.include_domains.errors|length %}
        <label class="error" for="id_input_include_domains">{% for error in form.include_domains.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
      </div>
    </fieldset>
