<section aria-labelledby="{{id}}">
    <h2 id="{{id}}">{{title}}</h2>
    {% if list %}
        <table class="details table table-striped table-hover" aria-labelledby="id_old_contacts">
            <thead>
                <th class="text" style="width: 8em;">Date</th>
                <th class="text">Topic</th>
                <th class="text">Announcement</th>
            </thead>
            <tbody>
                {% for item in list %}
                <tr>
                    <td class="text">{{item.date|date:"Y-m-d"}}</td>
                    <td class="text">{{item.topic}}</td>
                    <td class="text">
                      <p>{{item.message_html|safe}}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>None</p>
    {% endif %}
</section>
