{% extends "base.html" %}
{% load staticfiles i18n %}

{% block breadcrumb %}
  <li>Contact Form</li>
{% endblock %}

{% block title %}
  Feedback and Questions Form
{% endblock %}

{% block content %}

<form id="id_contact_form" action="{% url 'contact_form' %}" method="post" >
    {% csrf_token %}

   <div class="input" >
        <label for="topic">{{form.topic.label}}</label>
        <div {% if form.topic.errors|length %}class="error"{% endif %}>
        <input 
            id="topic"
            name="topic"
            required
            list="topic_options"
            {% if form.topic.errors|length %}aria-invalid="true"{% endif %}
            size="60"
            title="Topic of the comment or feedback"> 
        <datalist id="topic_options">
            <option value="Problem evaluating websites">
            <option value="Question or problem about a rule">
            <option value="New feature or enhancement">
            <option value="Typo or bug in information in FAE">
            <option value="Other">
        </datalist>
        {% if form.topic.errors|length %}
        <label class="error" for="topic">{% for error in form.topic.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
    </div>


   <div class="input" >
        <label for="message">{{form.message.label}}</label>
        <div {% if form.tmessage.errors|length %}class="error"{% endif %}>
        <textarea 
            id="message"
            name="message"
            required
            value="{{form.message.value}}"
            {% if form.message.errors|length %}aria-invalid="true"{% endif %}
            rows="10"
            cols=80
            title="Details of the comment or feedback"></textarea>     
        {% if form.message.errors|length %}
        <label class="error" for="message">{% for error in form.message.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
    </div>

    <input type="hidden" name="status" value="NR">
    <input type="hidden" name="comment" value="">

    <input type="submit" value="Send Feedback or Question"/>

</form>

<section aria-labelledby="id_my_contacts">
    <h2 id="id_my_contacts">My Feedback and Questions</h2>
    {% if user.comments.length %}
    <p>No feedback or questions</p>
    {% else %}
        <table class="details table table-striped table-hover" aria-labelledby="id_my_contacts">
            <thead>
                <th>Date</th>
                <th>Topic</th>
                <th>Message</th>
                <th>Response</th>
            </thead>
            <tbody>
                {% for contact in user.contacts.all %}
                <tr>
                    <td>{{contact.date}}</td>
                    <td>{{contact.topic}}</td>
                    <td>{{contact.message}}</td>
                    <td>
                        <strong>{{contact.show_status}}</strong><br/>
                        {{contact.comments}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</section>

{% endblock %}

