{% extends "base.html" %}
{% load static  %}

{% block breadcrumb %}
  <li><a href="{% url 'responses' %}">Contact Responses</a></li>
  <li>Contact Response Form</li>
{% endblock %}

{% block title %}
  Contact Response Form
{% endblock %}

{% block content %}

<form id="id_contact_form"  action="{{ action }}" method="post" >
    {% csrf_token %}

    {% include "forms/input_text.html" with input=form.topic size=60 %}

    {% include "forms/textarea.html" with textarea=form.message rows=10 cols=80 desc="Details of the comment or feedback"%}

    <fieldset {% if form.status.errors|length %}class="error"{% endif %}>
        {% if form.status.errors|length %}
        <legend class="error">{{form.status.label}}: {% for error in form.status.errors %}{{error}}{% endfor %}</legend>)
        {% else %}
        <legend>{{form.status.label}}</legend>
        {% endif %}
        {% for choice in form.status.field.choices %}
         <div class="fae_input">
            <input
                id="status_{{ forloop.counter }}"
                type="radio"
                name="status"
                value="{{choice.0}}"
                {% if choice.0|slugify == form.status.value|slugify  %}
                checked="checked"
                {% endif %}
            />
            <label for="status_{{ forloop.counter }}">{{choice.1}}</label>
        </div>
        {% endfor %}
    </fieldset>

    {% include "forms/textarea.html" with textarea=form.comments rows=10 cols=80 desc="Response to comment"%}

    <input type="submit" value="Send Feedback or Question"/>

</form>

{% endblock %}

{% block javascript %}

<script src="{% static 'js/form-control-focus.js' %}" type="text/javascript"></script>

{% endblock %}

