#skipToMenu {
    z-index: 1050;
}
main h1 {
    font-size: 250%;
    margin: 0;
    padding: 0;
}
main h2 {
    font-size: 175%;
    margin: 0;
    padding: 0;
}
main h3 {
    font-size: 150%;
}
main h4 {
    margin-top: 1.5em;
    font-size: 125%;
}
main section h2 {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}
main section.report h2{
    float: left;
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}
main section.report {
    margin-top: 2em;
}
#sendto {
    position: relative;
    float: right;
    top: -1.75em;
    font-size: 110%;
}
#sendto span {
    position: relative;
    top: .125em;
}
main p img {
    height: 1.6em;
}
main p img {
    position: relative;
    top: -.5em;
}
main div.login a {
    padding: 0.25em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    width: 8em;
    text-align: center;
    background: #337ab7;
    color: white;
    font-size: 124%;
}
main div.login a:focus,
main div.login a:hover {
    background: #337ab7;
    color: white;
    text-decoration: underline;
}
nav#id_report_manage {
    margin-top: 0.4em;
}
nav#view_options {
    margin-top: 3em;
    margin-bottom: -1.5em;
}
nav#view_options ul {
    margin: 0;
    padding: 0;
}
nav {
    margin-bottom: 1em;
}
nav#id_breadcrumbs,
nav#id_breadcrumbs ul  {
    margin: 0;
}
nav#id_breadcrumbs ul {
    background-color: #eeeeee;
    font-style: italic;
}
nav#id_breadcrumbs ul li:before {
  padding: 0 5px;
  color: #999;
  content: "/\00a0";
}
nav#id_breadcrumbs {
    margin-top: 1em;
    margin-bottom: 1em;
}
nav#id_breadcrumbs a:focus {
    outline-offset: 2px;
    outline: solid 1px black;
}
nav h2 {
    margin-top: 1em;
    margin-bottom: 0.125em;
    font-size: 125%;
}
.nav > li > a {
    padding: 0.25em;
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 112%;
}
.navbar-inverse .navbar-nav > li > a {
    padding-left: 0.65em;
    padding-right: 0.65em;
    color: #dddddd;
}
.navbar-inverse .navbar-header a {
     color: #dddddd;
     position: relative;
     top: -0.6em;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-header a:focus {
    outline: solid white thin;
    background-image: linear-gradient(to bottom, #080808 0%, #0f0f0f 100%);
}
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:visited,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-header a:hover {
    border-bottom: thin solid white;
    background-color:
}

.nav-pills > li > a {
    border: 1px solid transparent;
    border-radius: 4px;
}
.nav-pills > li > a:focus {
    border-color: black;
}
main .fae_group {
    margin: 0;
    padding: 0;
    margin-top: 2em;
}
main .fae_subgroup {
    margin: 0;
    padding: 0;
    margin-top: 1.5em;
}
main .fae_subgroup .fae_info {
    margin-bottom: 0.25em;
}
main .fae_indent {
    margin-left: 1.5em;
}
main .fae_indent .fae_indent{
    margin-left: 1.5em;
}
main .fae_checkbox,
main .fae_radio {
    margin-left: -0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
main label,
main legend {
    margin: 0;
    padding: 0;
    font-size: 120%;
    font-weight: bold;
}
main legend.error,
main label.error {
    color: red;
}
main .input_subgroup .fae_textbox {
    margin: 0;
    padding: 0;
    margin-left: 1.5em;
}
main input#id_get_last {
    float: right;
    position: relative;
    top: -3.55em;
}
button[aria-controls="top-navbar"] {
    outline: solid 2px transparent;
    z-index: 1050;
}
button[aria-controls="top-navbar"]:focus,
button[aria-controls="top-navbar"]:hover {
    outline-color: white;
}
#top-navbar-container {
    padding-bottom: 0;
    margin-bottom: 0.5em;
}
main ul {
    margin: 0;
    padding: 0;
    padding-left: 1.25em;
    padding-bottom: 0.5em;
}
table tbody td ul,
table tbody td ol {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    padding-bottom: 0.5em;
}
table tbody td ul.status,
table tbody td ol.status {
    list-style: none;
    padding-left: 0em;
}
table tbody td ul li,
table tbody td ol li  {
    margin: 0;
    padding: 0;
}
#information {
    padding: 0.5em;
    margin: 0;
    margin-bottom: 1em;
    background-color: #F4F4F4;
    margin-right: 12em;
    width: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
#information .title {
    font-size: 125%;
    float: left;
}
#information .date {
    font-size: 100%;
    float: right;
}
#information .eval_info{
    margin: 0;
    padding: 0;
    clear: both;
    padding-top: 0.25em;
    width: 100%;
    font-size: 100%;
}
#information  ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
#information li {
    list-style: none;
}
#information .eval_info li {
    display: inline;
    padding-right: 1.25em;
}
#information .url {
    margin-top: 0.25em;
}
#information .highlight {
  color: #ff170b;
}
#id_table_show_summary_default {
    margin-top: -1em;
}
main table th.sep {
    min-width: 6em;
}
main table th.violation,
main table td.violation,
.table-striped > tbody > tr > td.violation{
    background-color: #ffaeae;
    color: black;
    padding-right: 1.25em;
    padding-left:  0.5em;
}
main table th.warning,
main table td.warning,
.table-striped > tbody > tr > td.warning{
    background-color: #ffec94;
    color: black;
    padding-right: 1.25em;
}
main table th.manual_check,
main table td.manual_check,
.table-striped > tbody > tr > td.manual_check{
    background-color: #b4d8e7;
    color: black;
    padding-right: 1.25em;
}
main table th.fae-hidden,
main table td.fae-hidden,
.table-striped > tbody > tr > td.fae-hidden{
    background-color: #b4d8e7;
    color: black;
    padding-right: 1.25em;
}
main table th.passed,
main table td.passed,
.table-striped > tbody > tr > td.passed{
    background-color: #b0e57c;
    color: black;
    padding-right: 1.25em;
}
main table th.not_applicable,
main table td.not_applicable,
.table-striped > tbody > tr > td.not_applicable{
    background-color: transparent;
    color: gray;
    padding-right: 1.25em;
}
main table th.none,
main table td.none{
   font-style: italic;
}
main table tr.summary {
  font-weight: bold;
}
main table tr.summary th,
main table tr.summary td {
    border-top: solid thin black;
}
main ul.result_messages {
    margin: 0;
    padding: 0.25em;
    margin-left: 1em;
}
main ul.result_messages li {
    font-size: 125%;
    margin-bottom: 0.5em;
}
main div.redirect,
main div.success {
    margin: 2em;
    margin-top: 4em;
    padding: 1em;
    font-size: 135%;
    background-color: #eeeeee;
    text-align: center;
}
main div.error {
    padding: 0.25em;
    border: red solid thin;
}
main div.success {
    border: #337ab7 solid thin;
}
main .fae_checkbox label input,
main .fae_radio label input {
    margin-left: 0.25em;
}
main label > input[type="radio"],
main label > input[type="checkbox"] {
    margin-right: 0.125em;
}
main .fae_checkbox label span,
main .fae_radio label span {
    margin-right: 0.25em;
}
main .fae_checkbox span.fae_info_button,
main .fae_radio span.fae_info_button {
    margin-left: 0;
}
main .fae_button {
    margin: 0;
    padding: 0;
    margin-top: 2.5em;
    padding: 2px;
    border: 2px solid transparent;
    position: relative;
    left: -4px;
}
main .fae_focus {
    border-color: black;
    background-color: #eeeeee;
}
main input[disabled] .fae_hover {
    border-color: transparent;
    background-color: white;
}
main input[type=button],
main input[type=submit] {
    padding: 5px 15px;
    border: 1px solid #337ab7;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 4px;
    background-color: #eeeeee;
    font-weight: bold;
}
main input[type=button]:focus,
main input[type=submit]:focus,
main input[type=button]:hover,
main input[type=submit]:hover {
    padding: 4px 14px;
    border-width: 2px;
    border-color: black;
}
main input[type=button].sort-button,
main input[type=submit].sort-button {
    padding: 2px 2px;
    border: 1px solid black;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 4px;
    background-color: #eeeeee;
    font-weight: normal;
}
main input[type=button].sort-button:focus,
main input[type=submit].sort-button:focus,
main input[type=button].sort-button:hover,
main input[type=submit].sort-button:hover {
    padding: 1px 1px;
    border-width: 2px;
    border-color: #337ab7;
}
main input[type=button][disabled].sort-button {
    color: #808080;
    border-color: #808080;
}
main input[type="button"]:focus,
main input[type="submit"]:focus {
    border-width: 2px;
}
main .fae_focus,
main textarea:focus,
main input[type="text"]:focus,
main input[type="url"]:focus,
main input[type="password"]:focus,
main .fae_info_button:focus {
    background-color: #eeeeee;
    outline: black solid 2px;
}

main .fae_hover,
main textarea:hover,
main input[type="text"]:hover,
main input[type="url"]:hover,
main input[type="password"]:hover,
main .fae_radio label:hover,
main .fae_checkbox label:hover,
main .fae_info_button:hover {
    background-color: #eeeeee;
}
main .fae_info_button {
    padding: 0;
    margin-left: 0.25em;
    color: rgb(51, 122, 183);
}
main .fae_info {
    border: solid thin #9cc2e3;
    background-color: #f8f8f8;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
main legend .fae_info_button {
    font-size: 90%;
    font-weight: normal;
}
main div.subscription {
    margin-top: 1em;
    font-style: italic;
}
#summary table.summary{
    margin-top: 2em;
}
#summary table.summary th,
#summary table.summary td {
    padding: 0.25em;
    text-align: center;
    width: 7em;
    border: white solid 1px;
}
#summary table.summary tbody th.first {
    text-align: right;
    width: 12em;
    padding-right: 0.25em;
}
#summary table.summary tbody td.not_applicable{
    background-color: #eeeeee;
    color: black;
}
#rule_result {
    font-size: 250%;
}
span.violation {
    background-color: #ffaeae;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
.warning {
    background-color: #ffec94;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
.manual_check {
    background-color: #b4d8e7;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
.fae-hidden {
    background-color: #b4d8e7;
    color: black;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
.passed {
    background-color: #b0e57c;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
.not_applicable {
    background-color: transparent;
    color: gray;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
fieldset input[disabled] + label,
input[disabled] + label,
label.disabled {
    color: gray;
}
fieldset label {
    font-weight: normal;
}
div.fae_input_indent div.input label {
    margin-top: 0;
}
div.checkbox input[type="checkbox"] {
    margin: 0;
    padding: 0;
    margin-top: 0.35em;
}
div.checkbox label {
    position: relative;
    top: -0.075em;
    font-size: 120%;
    font-weight: bold;
}
input[type="button"] {
    font-size: 120%;
}
main input[type="submit"] {
    font-size: 120%;
}
main input[type="submit"][disabled] {
  color: gray;
}
.error input {
  background-color: #ffe5e5;
  border-color: red;
}

input[type="button"].sort-button {
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    top: -1.5em;
}
nav li.side_by_side {
    clear: both;
}
nav li.side_by_side a.disabled {
    color: gray;
}
nav li.side_by_side a.left {
    float: left;
    padding-left: 0.25em;
    padding-right: 0.75em;
}
nav li.side_by_side a.left span.glyphicon {
    display: inline;
}
nav li.side_by_side a.right {
    float: right;
    padding-left: 0.75em;
    padding-right: 0.25em;
}
main .rule_summary {
    margin-top: 0.25em;
    font-size: 135%;
}
footer {
    margin-top: 4em;
}
nav li.highlight a {
   background-color: #eeeeee;
}
main table th.text,
main table td.text {
    text-align: left;
}
main table th.num,
main table td.num {
    text-align: right;
}
main table .complete {
    color: #006400;
}
main table .almost_complete,
main table .partial_implementation {
    color: #cc7a00;
}
main table .not_implemented {
    color: #992600;
}
main table .manual_checks {
    color: #003d99;
}
main table .not_applicable {
    color: gray;
}
table td.text input[type=button] {
    font-size: 95%;
}
ul.user_profile {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.user_profile li {
    padding: 0;
    margin: 0;
}
table label {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.25em;
}
main a[href],
main a[href] code {
  text-decoration: none;
  border-bottom: 1px solid #337ab7;
}
main a[href] code {
    padding-bottom: 0;
}
main a[href]:focus  {
  outline-offset: 0.125em;
  outline: 2px solid black;
  background-color: #eeeeee;
  border-color: transparent;
}
main a[href]:hover,
main a[href] code:hover,
main .fae_info_button:hover {
  background-color: #dddddd;
}
summary {
    display: list-item;
}
dl.contact {
    margin-left: 1em;
}
dl.contact dt {
    margin-top: 0.25em;
}
