#skipToMenu {
    z-index: 1050;
}

main h1 { font-size: 250%; }
main h2 { font-size: 175%; }
main h3 { font-size: 150%; }
main h4 { 
    margin-top: 1.5em;
    font-size: 125%; 
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    text-decoration: underline;
}

button[aria-controls="top-navbar"] {
    outline: solid 2px transparent;
    z-index: 1050;
}

button[aria-controls="top-navbar"]:focus,
button[aria-controls="top-navbar"]:hover {
    outline-color: white;
}

#top-navbar-container {
    padding-bottom: 0;
    margin-bottom: 0.5em;
}

table.rule tbody td ul {
    margin: 0;
    padding: 0;
    padding-left: 1.25em;
    padding-bottom: 0.5em;
}