{% extends "base.html" %}

{% block breadcrumb %}
  <li>All User Information</li>
{% endblock %}

{% block title %}
All User Information
{% endblock %}

{% block content %}

<section aria-labelledby="id_user_info">
  <h2 id="id_user_info">User Information: {{org_id}}</h2>

  <ul>
    <li>Registered: {{registered}}</li>
    <li>Subscribers: {{subscribers}}</li>
  </ul>

  <h3>Current Active Users</h3>
  <ul>
    <li>Last 30 days: {{active30days}}</li>
    <li>Last 90 days: {{active90days}}</li>
    <li>Last 6 months: {{active6months}}</li>
    <li>Last year: {{active_last_year}}</li>
  </ul>

  <h3 id="id_user_details">User Activity Details</h3>

  {% include "accounts/user_information_table.html" with id="id_user_details" %}

{% endblock %}


