{% extends "base.html" %}

{% block breadcrumb %}
  <li>All User Information</li>
{% endblock %}

{% block title %}
All User Information
{% endblock %}

{% block content %}

<section aria-labelledby="id_user_info">
  <h2 id="id_user_info">User Information</h2>

  <ul>
    <li>Registered: {{registered}}</li>
    <li>Subscribers: {{subscribers}}</li>
    <li>Active: {{active}}</li>
  </ul>

  <table class="details table table-striped table-hover sortable" aria-labelledby="id_user_info">
    <thead>
      <tr >
        <th class="num" title="Used to indicate relative date of registering">ID</th>
        <th class="text">Username</th>
        <th class="text">Name</th>
        <th class="text">E-mail</th>
        <th class="text">Account</th>
        <th class="text">Announcements</th>
        <th class="num">Reports Run</th>
        <th class="num">Pages Evaluated</th>
        <th class="num">Comments</th>
      </tr>
    </thead>
    <tbody>
  {% for su in stats_users %}
         <tr>
                <td class="num">
                    {{su.user.id}}
                </td>

                <td class="text">
                    <a href="{% url 'user_information' su.user.id %}">{{ su.user.username }}</a>
                </td>

                <td class="text">
                    {{ su.user.first_name }} {{ su.user.last_name }}
                </td>

                <td class="text"  >{% if su.user.email %}<a href="mailto:{{ email }}">{{ su.user.email }}{% else %}<em>none</em>{% endif %}</a></td>

                <td class="text">
                    {{ su.user.profile.account_type }}
                </td>

                <td class="text"  >{{ su.user.profile.email_announcements }}</td>

                <td class="num"  >{{ su.ws_report_group.num_total_reports }}</td>

                <td class="num"   >{{ su.ws_report_group.num_total_pages }}</td>

                <td class="num"   >{{ su.user.contacts.count }}</td>
            </tr>
            {% endfor %}
      </tbody>
    </table>

<h2 id="id_email_inc">E-mails to Include in Announcements</h2>
{% if include_announcements.count %}
<textarea rows="10" cols="80" aria-labelledby="id_email_inc" readonly>{% for up in include_announcements %}{% if up.user.email %}{{up.user.email}} {{up.user.first_name}} {{up.user.last_name}}
{% endif %}{% endfor %}</textarea>
{% else %}
<p>none</p>
{% endif %}

<h2 id="id_email_excl">E-mails to  Exclude in Announcements</h2>
{% if exclude_announcements.count %}
<textarea rows="10" cols="80" aria-labelledby="id_email_excl" readonly>{% for up in exclude_announcements %}{% if up.user.email %}{{up.user.email}} {{up.user.first_name}} {{up.user.last_name}}
{% endif %}{% endfor %}</textarea>
{% else %}
<p>none</p>
{% endif %}

{% endblock %}
