{% extends "base.html" %}

{% block breadcrumb %}
  <li>Donate</li>
{% endblock %}

{% block title %}
 Donate
{% endblock %}

{% block content %}

<p>Help support Open Source web accessibility tool development, including FAE, AInspector Sidebar and Accessibility Bookmarklets.</p>

<form id="id_run_report"  action="{% url 'donate' %}" method="post" >
    {% csrf_token %}

    <div class="input" >
        <label for="id_donor_name">Name</label>
        <div {% if form.donor_name.errors|length %}class="error"{% endif %}>
        <input 
            id="id_donor_name"
            onkeyup="enableSubmit()"
            onblur="enableSubmit()"
            name="donor_name"
            required
            value="{{form.donor_name.value}}"
            {% if form.donor_name.errors|length %}aria-invalid="true"{% endif %}
            size="30"
        {% if form.donor_name.errors|length %}
        <label class="error" for="id_donor_name">{% for error in form.donor_name.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
    </div>

    <div class="input" >
        <label for="id_donor_email">E-mail</label>
        <div {% if form.donor_email.errors|length %}class="error"{% endif %}>
        <input 
            id="id_donor_email"
            onkeyup="enableSubmit()"
            onblur="enableSubmit()"
            name="donor_email"
            required
            value="{{form.donor_email.value}}"
            {% if form.donor_email.errors|length %}aria-invalid="true"{% endif %}
            size="30"
        {% if form.donor_email.errors|length %}
        <label class="error" for="id_donor_email">{% for error in form.donor_email.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        <p>E-mail used for sending receipt for donation.</p>
        </div>
    </div>

    <div class="input" >
        <label for="id_donation_amount">Amount</label>
        <div {% if form.donation_amount.errors|length %}class="error"{% endif %}>
        <input 
            id="id_donation_amount"
            onkeyup="enableSubmit()"
            onblur="enableSubmit()"
            onkeypress="numbersOnly(event)"
            name="donation_amount"
            required
            value="25"
            {% if form.donation_amount.errors|length %}aria-invalid="true"{% endif %}
            size="6"
        {% if form.donation_amount.errors|length %}
        <label class="error" for="id_donation_amount">{% for error in form.donation_amount.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        <p>Amount in United States Dollars</p>
        </div>
    </div>

    <div class="input" >
        <label>
            <input 
            type="checkbox"
            name="show_donation"
            {% if form.show_donation.value %}checked{% endif %}
            style="display: inline;">
            Include your name on our public list of donors
        </label>        
    </div>


   <input id="id_submit" name="submit" disabled type="submit" value="Donate"  title="You must enter your name, e-mail and amount to submit a donation"/>

</form>

<script type="text/javascript">

    function numbersOnly(event){

        if (!event.charCode) return;

        var c = String.fromCharCode(event.charCode);

        console.log(c + ' ' + event.charCode);

        if (c < '0' || c > '9') {
            event.preventDefault();
            event.stopPropagation();
        }

    }

   function enableSubmit() {

     function test_name() {

       var s  = node_name.value;
       s = s.trim();
       
       return s.length > 0;
     
     }

     function test_email() {
  
       var s  = node_email.value;
       s = s.trim();
       
       return s.length > 0 && (s.indexOf('@') > 1) && (s.indexOf('.') > 1);
   
     }

     function test_amount() {
  
       var s  = node_amount.value;
       s = s.trim();
       
       return s.length > 0 && /^[0-9.]+$/.test(s);;
   
     }

     var node_submit   = document.getElementById('id_submit');

     var node_name     = document.getElementById('id_donor_name');
     var node_email    = document.getElementById('id_donor_email');
     var node_amount   = document.getElementById('id_donation_amount')

     if (test_name() && test_email() && test_amount()) {
        node_submit.disabled = false;
        node_submit.setAttribute('title', 'Donation is ready for credit card processing');     
     }
     else {
        node_submit.disabled = true;
        node_submit.setAttribute('title', 'You must enter a valid name, e-mail address and amount before credit card processing');     
     }
   
   }

   window.addEventListener('load', enableSubmit);
</script>

{% endblock %}


