{% extends "base.html" %}

{% block breadcrumb %}
  <li>Donate</li>
{% endblock %}

{% block title %}
 Donate
{% endblock %}

{% block content %}

<p>Your credit card donation will help support the development of the following web accessibility tools and educational resouces:</p>

<ul>
    <li><a href="{{site}}">Functional Accessibility Evaluator</a> (FAE)</li>
    <li>Browser add-ons and extensions to evaluate, inspect and highlight accessibility features of websites (e.g. <a href="https://addons.mozilla.org/en-US/firefox/addon/ainspector-sidebar/">AInspector Sidebar</a> and <a href="http://accessibility-bookmarklets.org/">Accessibility Bookmarklets</a>)</li>
    <li>Online training materials for people understand web accessibility and how to use the tools</li>
    <li>Example widgets for inclusion in the <a href="http://www.w3.org/TR/wai-aria-practices-1.1/">ARIA Authoring Practices Guide</a></li>
</ul>

<form action="https://ps.uif.uillinois.edu/Gifts/Payment.aspx" method="post" >
    {% csrf_token %}

    <input type="hidden" name="FUND1"            value="11336380 – IT Web Accessibility Research">
    <input type="hidden" name="DEPARTMENT"       value="Disability Resources and Education Services">
    <input type="hidden" name="DEPARTMENT_EMAIL" value="jongund@illinois.edu,jsmccoy@illinois.edu,giving@ahs.uiuc.edu">
    <input type="hidden" name="TRACKING_CODE"    value="5WAAA">

<!--
    <input type="hidden" name="RedirectAfterSubmit"    value="{{site.domain}}{% url 'donate' %}">
    <input type="hidden" name="RedirectAfterSubmitConfirmMessage"    value="Thank you for your donation!">
-->

    <div class="input" >
        <label for="id_donation_amount">Gift Amount</label>
        <div>$ <input 
            id="id_donation_amount"
            type="text"
            name="GIFT_AMOUNT1"
            size=10
            onkeypress="numbersOnly(event)"
            onkeyup="enableSubmit(event)" style="display: inline">
        </div>    
    </div>


   <input id="id_submit" name="submit" disabled type="submit" value="Donate using Credit Card"  title="This button takes "/>

</form>

<script type="text/javascript">

    function numbersOnly(event){

        if (!event.charCode) return;

        var c = String.fromCharCode(event.charCode);

        console.log(c + ' ' + event.charCode);

        if (c < '0' || c > '9') {
            event.preventDefault();
            event.stopPropagation();
        }

    }

   function enableSubmit() {


     function test_amount() {
  
       var s  = node_amount.value;
       s = s.trim();
       
       return s.length > 0 && /^[0-9.]+$/.test(s);;
   
     }

     var node_submit   = document.getElementById('id_submit');

     var node_amount   = document.getElementById('id_donation_amount')

     if (test_amount()) {
        node_submit.disabled = false;
        node_submit.setAttribute('title', 'Donation is ready for credit card processing');     
     }
     else {
        node_submit.disabled = true;
        node_submit.setAttribute('title', 'You must enter an amount before credit card processing');     
     }
   
   }

   window.addEventListener('load', enableSubmit);
</script>

{% endblock %}


