{% extends "base.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'all_user_information' %}">All User Information</a></li>
  <li>User Information</li>
{% endblock %}

{% block title %}
Institutional User Information
{% endblock %}

{% block content %}

  <h2 id="id_user_details">Summary of User Activity</h2>

  {% include "accounts/user_information_table.html" with id="id_user_details" %}

  <h2>Recent Reports</h2>

  {% for us in user_stats %}

  <h3 id="h3_{{us.user.id}}">{{us.get_name}}</h3>

  {% include "reports/archived_report_list.html" with label_id="h3_{{us.user.id}}" report_list=us.get_last_ten_reports nosort=True%}

  {% endfor %}
{% endblock %}


