{% extends "base.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'all_user_information' %}">All User Information</a></li>
  <li>User Information</li>
{% endblock %}

{% block title %}
Institutional Accounts
{% endblock %}

{% block content %}
  <table class="details table table-striped table-hover sortable" aria-labelledby="id_title">
    <thead>
      <tr >
        <th class="text">Institution/Contact</th>
        <th class="text">Domain</th>
        <th class="text">Alt Domain</th>
        <th class="text">Account</th>
        <th class="text">Expires</th>
        <th class="text">Users</th>
      </tr>
    </thead>
    <tbody>
    {% for i in institutions %}
      <tr>
        <td>
            <details>
                <summary>{{i.title}}</summary>
                <dl class="contact" title="Contacts">
                    <dt>
                    {% if i.contact1_email %}
                        <a href="mailto:{{i.contact1_email}}">{{i.contact1_name}}</a>
                    {% else %}
                        {{i.contact1_name}}
                    {% endif %}
                    </dt>
                    {% if i.contact1_phone %}
                    <dd><a href="tel:{{i.contact1_phone}}">{{i.contact1_phone}}</a></dd>
                    {% endif %}
                    {% if i.contact2_name %}
                        <dt>
                        {% if i.contact2_email %}
                            <a href="mailto:{{i.contact2_email}}">{{i.contact2_name}}</a>
                        {% else %}
                            {{i.contact2_name}}
                        {% endif %}
                        </dt>
                        {% if i.contact2_phone %}
                        <dd><a href="tel:{{i.contact2_phone}}">{{i.contact2_phone}}</a></dd>
                        {% endif %}
                    {% endif %}
                </dl>
            </details>
        </td>
        <td>{{i.domain}}.{{i.top_level_domain}}</td>
        <td>{% if i.alt_domain %}{{i.alt_domain}}.{{i.top_level_domain}}{% else %}-{% endif %}</td>
        <td>{{i.account_type}}</td>
        <td>{{i.subscription_end}}</td>
        <td>
            {% if i.users.count %}
            <details>
                <summary>{{i.users.count}} Users</summary>
                <ul>
                    {% for u in i.users.all %}
                    <li>{{u}}</li>
                    {% endfor %}
                </ul>
            </details>
            {% else %}
            no users
            {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
