{% extends "base.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'all_user_information' %}">All User Information</a></li>
  <li>User Information</li>
{% endblock %}

{% block title %}
Institutional User Information
{% endblock %}

{% block content %}

  <h2 id="h2_activity">Summary of User Activity</h2>

  <p>Recent reports and pages include reports generated in the last 30 days.</p>

  <table class="details table table-striped table-hover sortable" aria-labelledby="h2_activity">
    <thead>
      <tr>
        <th class="text">Name</th>
        <th class="text">E-mail</th>
        <th class="text">Domain</th>
        <th class="num" title="Last 30 Days">Recent Reports</th>
        <th class="num" title="Last 30 Days">Recent Pages</th>
        <th class="num">All Reports</th>
        <th class="num">All Pages</th>
      </tr>
    </thead>
    <tbody>
    {% for us in user_stats %}
      <tr>
        <td class="text"><a href="#h3_{{us.user.id}}">{{us.get_name}}</a></td>
        <td class="text">{{us.user.email}}</td>
        <td class="text">{{us.user.profile.domain}}</td>
        <td class="num">{{us.get_last_30_days.num_reports}}</td>
        <td class="num">{{us.get_last_30_days.num_pages}}</td>
        <td class="num">{{us.ws_report_group.num_total_reports}}</td>
        <td class="num">{{us.ws_report_group.num_total_pages}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

   <h2>Recent Reports</h2>

    {% for us in user_stats %}

    <h3 id="h3_{{us.user.id}}">{{us.get_name}}</h3>

    {% include "reports/archived_report_list.html" with label_id="h3_{{us.user.id}}" report_list=us.get_last_ten_reports nosort=True%}

    {% endfor %}
{% endblock %}

