{% extends "base.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'all_user_information' %}">All User Information</a></li>
  <li>User Information</li>
{% endblock %}

{% block title %}
Institutional User Information
{% endblock %}

{% block content %}

  <h2 id="h2_activity">Summary of User Activity</h2>

  <table class="details table table-striped table-hover sortable" aria-labelledby="h2_activity">
    <thead>
      <tr>
        <th id="r1c1" rowspan="2" class="text">Name</th>
        <th id="r1c2" rowspan="2" class="text">E-mail</th>
        <th id="r1c3" rowspan="2" class="text">Domain</th>
        <th id="r1c4" colspan="2" class="num">Last 30 Days</th>
        <th id="r1c5" colspan="2" class="num">All Time</th>
      </tr>
      <tr>
        <th id="r2c4" class="num">Reports</th>
        <th id="r2c5" class="num">Pages</th>
        <th id="r2c6" class="num">Reports</th>
        <th id="r2c7" class="num">Pages</th>
      </tr>
    </thead>
    <tbody>
    {% for us in user_stats %}
      <tr>
        <td class="text" headers="r1c1"><a href="#h3_{{us.user.id}}">{{us.user.first_name}} {{us.user.last_name}}</a></td>
        <td class="text" headers="r1c2">{{us.user.email}}</td>
        <td class="text" headers="r1c3">{{us.user.profile.domain}}</td>
        <td class="num" headers="r2c4 r1c4">{{us.get_last_30_days.num_reports}}</td>
        <td class="num" headers="r2c5 r1c4">{{us.get_last_30_days.num_pages}}</td>
        <td class="num" headers="r2c6 r1c5">{{us.ws_report_group.num_total_reports}}</td>
        <td class="num" headers="r2c7 r1c5">{{us.ws_report_group.num_total_pages}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

   <h2>Recent Reports</h2>

    {% for us in user_stats %}

    <h3 id="h3_{{us.user.id}}">{{us.user.first_name}} {{us.user.last_name}}</h3>

    {% include "reports/archived_report_list.html" with label_id="h3_{{us.user.id}}" report_list=us.getLastTenReports nosort=True%}

    {% endfor %}
{% endblock %}


