{% extends "base.html" %}

{% block breadcrumb %}
  <li>My Account</li>
{% endblock %}

{% block title %}
  My Account
{% endblock %}

{% block content %}
<div class="row">
<section aria-labelledby="id_stats" class="col-md-4">
<h2 id="id_stats">Usage Stats</h2>
<table  id="id_table_show_summary" class="details table table-striped table-hover"  aria-labelledby="id_stats">
    <thead>
      <tr>
        <th id="id_grp" class="text">Time Period</th>
        <th id="id_nor" class="num">Reports</th>
        <th id="id_imp" class="mum">Pages</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text">Last 30 Days</th>
            <td class="num">{{user_stats.get_last_30_days.num_reports}}</td>
            <td class="num">{{user_stats.get_last_30_days.num_pages}}</td>
        </tr>
        <tr>
            <th class="text">All Time</th>
            <td class="num">{{user_stats.ws_report_group.num_total_reports}}</td>
            <td class="num">{{user_stats.ws_report_group.num_total_pages}}</td>
        </tr>
    </tbody>
</table>    
</section>
</div>

<section aria-labelledby="id_account">
<h2 id="id_account">Account</h2>

<table  id="id_table_show_summary" class="details table table-striped table-hover"  aria-labelledby="id_stats">
    <tbody>
        <tr>
            <th class="text" style="width: 9em">Type</th>
            <td class="text">{{user_profile.account_type.title}} {% if payment_enabled %}<a href="{% url 'update_account_type' %}">Change Account Type</a>{% endif %}</td>
        </tr>
        <tr>
            <th class="text">Description</th>
            <td class="text">{{user_profile.account_type.description_html|safe}}</td>
        </tr>
        <tr>
            <th class="text" title="Total number of reports saved">Total Reports</th>
            <td class="num">{{user_profile.account_type.max_permanent}}</td>
        </tr>
        <tr>
            <th class="text" title="Total number of reports that can be archived">Archive reports</th>
            <td class="text">{{user_profile.account_type.max_archive}}</td>
        </tr>
        <tr>
            <th class="text">Max Depth</th>
            <td class="text">{{user_profile.account_type.max_depth}}</td>
        </tr>
        <tr>
            <th class="text">Max Pages</th>
            <td class="text">{{user_profile.account_type.max_pages}}</td>
        </tr>
    </tbody>
</table>   


</section>

<section aria-labelledby="id_profile">
<h2 id="id_profile">Profile</h2>

<form action="{% url 'user_profile' %}"
      method="POST">
    {% csrf_token %}

    {% include "forms/input_text.html" with input=form.first_name size=30 %}
    {% include "forms/input_text.html" with input=form.last_name  size=30 %}
    {% include "forms/input_text.html" with input=form.email      size=30 type='email' %}
    {% include "forms/input_text.html" with input=form.org        size=45 %}
    {% include "forms/input_text.html" with input=form.dept       size=45 %}
    {% include "forms/input_checkbox.html" with checkbox=form.email_announcements %}
    {% include "forms/input_select.html" with select=form.timezone %}

    <input type="submit" value="Update Profile" />
</form>

</section>



{% endblock %}


