{% extends "base.html" %}

{% block breadcrumb %}
  <li>My Account</li>
{% endblock %}

{% block title %}
  My Account
{% endblock %}

{% block content %}

<table  id="id_table_show_summary" class="details table table-striped table-hover"  aria-labelledby="id_title" style="margin-top: 2em">
    <tbody>
        <tr>
            <th class="text">Name </th>
            <td class="text">
                {{user.first_name}} {{user.last_name}}
                {% if user_profile.dept %}, {{user_profile.dept}}{% endif %}
                {% if user_profile.org  %}, {{user_profile.org }}{% endif %}
                <br/><a href="{% url 'update_profile' %}">Update Profile</a>
            </td>
        </tr>
        <tr>
            <th class="text">Username</th>
            <td class="text">{{user.username}}</td>
        </tr>
        <tr>
            <th class="text" style="width: 9em">Account Type</th>
            <td class="text">
                <div class="subscription_type">{{user_profile.account_type.title}}</div>
            {% if payment_enabled %}
                <div class="subscribe">
                {% if user_profile.subscription_status == 'FREE' %}
                    <a href="{% url 'update_subscription' %}">Subscribe to FAE</a> for a higher level of service.
                {% else %}
                    <ul class="status">
                    {% if user_profile.subscription_status == 'CURRENT' %}
                        {% if user_profile.subscription_days > 1 %}
                        {{user_profile.subscription_days}} days remaining in</li>
                        {% else %}
                            {% if user_profile.subscription_days == 1 %}
                            1 day remaining in </li>
                            {% else %}
                            Last day of </li>
                            {% endif %}
                        {% endif %}
                    your subscription, <a href="{% url 'update_subscription' %}">extend or change your subscription</a>.
                {% else %}
                    Previous subscription expired on {{user_profile.subscription_end|date:"n/j/Y"}},
                    <a href="{% url 'update_subscription' %}">Renew Subscription</a>.
                {% endif %}
                </div>
            {% endif %}
            </td>
        </tr>
        {% endif %}

            </td>
        </tr>
        {% if user_profile.account_type.description_html %}
        <tr>
            <th class="text">Account Description</th>
            <td class="text">{{user_profile.account_type.description_html|safe}}</td>
        </tr>
        {% endif %}
        <tr>
            <th class="text" title="Total number of reports saved">Maximum Archived Reports</th>
            <td class="text">{{user_profile.account_type.max_archive}}</td>
        </tr>
        <tr>
            <th class="text" title="Total number of reports that can be archived">Permanent Archived Reports</th>
            <td class="text">{{user_profile.account_type.max_permanent}}</td>
        </tr>
        <tr>
            <th class="text">Max Depth of Spidering</th>
            <td class="text">{{user_profile.account_type.max_depth}}</td>
        </tr>
        <tr>
            <th class="text">Max web pages per report</th>
            <td class="text">{{user_profile.account_type.max_pages}}</td>
        </tr>
    </tbody>
</table>
<h2 id="id_stats">Usage Statistics</h2>
<table  id="id_table_show_summary" class="details table table-striped table-hover"  aria-labelledby="id_stats" style="max-width: 20em">
    <thead>
      <tr>
        <th id="id_grp" class="text" style="max-width: 4em">Time Period</th>
        <th id="id_nor" class="num"  style="max-width: 3em">Reports</th>
        <th id="id_imp" class="mum"  style="max-width: 3em">Pages</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text">Last 30 Days</th>
            <td class="num">{{user_stats.get_last_30_days.num_reports}}</td>
            <td class="num">{{user_stats.get_last_30_days.num_pages}}</td>
        </tr>
        <tr>
            <th class="text">All Time</th>
            <td class="num">{{user_stats.ws_report_group.num_total_reports}}</td>
            <td class="num">{{user_stats.ws_report_group.num_total_pages}}</td>
        </tr>
    </tbody>
</table>
<h2 id="id_payments">Payments and Invoices</h2>
<table  id="id_table_payments" class="details table table-striped table-hover"  aria-labelledby="id_payments">
    <thead>
      <tr>
        <th id="id_date" class="text">Date</th>
        <th id="id_desc" class="text">Subscription Type</th>
        <th id="id_amt"  class="num">Amount</th>
        <th id="id_end"  class="text">End Date</th>
        <th id="id_end"  class="text">Invoice</th>
      </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <th class="text">{{payment.reference_time|date:"Y-m-d"}}</th>
            <td class="text">{{payment.account_type}}</td>
            <td class="num">${{payment.subscription_cost}}</td>
            <td class="text">{{payment.subscription_end|date:"Y-m-d"}}</td>
            <td class="text"><a href="{% url 'invoice' payment.reference_id %}">{{payment.invoice_number}}</a></td>
        </tr>
        {% empty %}
        <tr>
            <td class="text" colspan="4">No payments</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
