{% extends "base.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'user_profile' %}">My Account</a></li>
  <li>Update Account Type</li>
{% endblock %}

{% block title %}
 Update Account Type
{% endblock %}

{% block content %}

    <form id="id_run_report"  action="{% url 'donate' %}" method="post" >
        {% csrf_token %}

        <div class="input" >
            <label for="id_payment_amount">Amount</label>
            <div {% if form.payment_amount.errors|length %}class="error"{% endif %}>
            <input 
                id="id_payment_amount"
                onkeyup="enableSubmit()"
                onblur="enableSubmit()"
                onkeypress="numbersOnly(event)"
                name="payment_amount"
                required
                value="25"
                {% if form.payment_amount.errors|length %}aria-invalid="true"{% endif %}
                size="6"
            {% if form.payment_amount.errors|length %}
            <label class="error" for="id_payment_amount">{% for error in form.payment_amount.errors %}{{error}}{% endfor %}</label>
            {% endif %}
            <p>Amount in United States Dollars</p>
            </div>
        </div>

        <div class="input" >
            <label>
                <input 
                type="checkbox"
                name="show_donation"
                {% if form.show_donation.value %}checked{% endif %}
                style="display: inline;">
                Include your name on our public list of donors
            </label>        
        </div>


       <input id="id_submit" name="submit" disabled type="submit" value="Update Subscription"  title="You must enter your name, e-mail and amount to submit a donation"/>

    </form>

    <section aria-labelledby="id1">

        <h2 id="id1">Self-Registration Subscription Levels</h2>

        <p>The self-registration version of FAE is designed for inidividuals to create and manage there own accounts.
        If an individual is consistently using FAE it is expected they would purchase a paid subscription based on their use and spidering needs.
        </p>

        {% include "subscriptions/account_type_details.html"  with id="id1" account_types=account_types %}

        <p><strong>Note:</strong> There are <em>no</em> refunds on a paid subscription, so use the "Trial" level or a shorter term of subscription if you are unsure of your long term interest in FAE.  When a paid subscription is not renewed the subscription level will automatially return to the "Trial" level, whish may result in losing archived and permanent reports.</p>

    </section>


{% endblock %}


