{% extends "base.html" %}
{% load staticfiles i18n %}

{% block breadcrumb %}
  <li><a href="{% url 'my_account' %}">My Account</a></li>
  <li>Update Profile</li>
{% endblock %}

{% block title %}
  Update Profile
{% endblock %}

{% block content %}

{% if self_registration_enabled %}
<p><a href="{% url "password_reset_recover" %}">Change Password</a></p>
{% endif %}
<form action="{% url 'update_profile' %}"
      method="POST">
    {% csrf_token %}

    {% include "forms/input_text.html" with input=form.first_name size=30 %}
    {% include "forms/input_text.html" with input=form.last_name  size=30 %}
    {% include "forms/input_text.html" with input=form.email      size=30 type='email' %}
    {% include "forms/input_text.html" with input=form.org        size=45 %}
    {% include "forms/input_text.html" with input=form.dept       size=45 %}

    <div class="fae_group" >
    {% include "forms/input_checkbox.html" with checkbox=form.email_announcements %}
    </div>

    {% include "forms/input_select.html" with select=form.timezone %}

    <div class="fae_button">
      <input type="submit" value="Update Profile" />
    </div>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/form-control-focus.js' %}" type="text/javascript"></script>
{% endblock %}
