{% extends "base.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'user_profile' %}">My Account</a></li>
  <li>Update Account</li>
{% endblock %}

{% block title %}
 Update Account
{% endblock %}

{% block content %}

    <h2 id="id_current_account">Current Account</h2>

    <table class="table table-striped" aria-labelledby="id_current_account" style="width: 24em;">
        <thead>
            <tr>
                <th class="text" style="width: 12em;">Feature</th>
                <th class="text">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Account Type</td>
                <td>{{user_profile.account_type}}</td>
            </tr>
            <tr>
                <td>Last Payment</td>
                <td>
                    {% if user_profile.subscription_start %}
                    {{user_profile.subscription_start|date:"n/j/Y"}}
                    {% else %}
                    none
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>
                {% if user_profile.subscription_end %}{{user_profile.subscription_end|date:"n/j/Y"}}{% else %}Never{% endif %}
                </td>
            </tr>
            <tr>
                <td>Account Balance</td>
                <td>${{user_profile.subscription_balance}}</td>
            </tr>
        </tbody>
    </table>    


    <h2>Update Options</h2>
    <p>See self-registration <a href="#id1">subscription options and descriptions</a> following the form.</p>

    <form id="id_run_report"  action="{% url 'update_account_type' %}" method="post" >
        {% csrf_token %}

        <fieldset id="id_account_type"  {% if form.account_type.errors|length %}class="error"{% endif %}>
            {% if form.account_type.errors|length %}
            <legend class="error">{{form.account_type.label}}: {% for error in form.account_type.errors %}{{error}}{% endfor %}</legend>)
            {% else %}
            <legend>{{form.account_type.label}}</legend>
            {% endif %}
            {% for choice in form.account_type.field.choices %}
                {% if forloop.counter > 2 and forloop.counter < 9 %}
                 <div class="fae20_radio">
                    <input
                        id="id_account_type_{{ forloop.counter }}"
                        type="radio"
                        name="account_type"
                        value="{{choice.0}}"

                        {% if choice.0 == 2 and user_profile.subscription_balance > 0  %}
                        disabled
                        {% endif %}

                        {% if choice.0|slugify == form.account_type.value|slugify  %}
                        checked="checked"
                        data-current="true"
                        {% endif %}

                        onclick="updateSubscriptionCost()"
                    />
                    <label for="id_account_type_{{ forloop.counter }}">{{choice.1}} {% if choice.0|slugify == form.account_type.value|slugify  %}(Current){% endif %}</label>
                </div>
                {% endif %}
            {% endfor %}
        </fieldset>    

        <fieldset id="id_subscription_duration" {% if form.subscription_duration.errors|length %}class="error"{% endif %}>
            {% if form.subscription_duration.errors|length %}
            <legend class="error">{{form.subscription_duration.label}}: {% for error in form.subscription_duration.errors %}{{error}}{% endfor %}</legend>)
            {% else %}
            <legend>Duration</legend>
            {% endif %}
            {% for choice in form.subscription_duration.field.choices %}
                 <div class="fae20_radio">
                    <input
                        id="id_subscription_duration_{{ forloop.counter }}"
                        type="radio"
                        name="subscription_duration"
                        value="{{choice.0}}"
                        {% if choice.0|slugify == form.subscription_duration.value|slugify  %}
                        checked="checked"
                        {% endif %}
                        onclick="updateSubscriptionCost()"
                    />
                    <label  for="id_subscription_duration_{{ forloop.counter }}">{{choice.1}} 
                        (<span id="id_subscription_cost_{{ forloop.counter }}"></span>)
                    </label>
                </div>
            {% endfor %}
        </fieldset>                

        <div class="input" >
            <label for="id_subscription_end">End Date</label>
            <div {% if form.subscription_end.errors|length %}class="error"{% endif %}>
            <input 
                type="text"
                readonly
                id="id_subscription_end"
                name="subscription_end"
                value="{{form.subscription_end.value|slugify}}"
                {% if form.subscription_end.errors|length %}aria-invalid="true"{% endif %}
                size="12"/>
            {% if form.subscription_end.errors|length %}
            <label class="error" for="id_subscription_end">{% for error in form.subscription_end.errors %}{{error}}{% endfor %}</label>
            {% endif %}
            </div>
        </div>

        <input 
            type="hidden"
            id="id_subscription_cost"
            name="subscription_cost"
            value="{{form.subscription_cost.value|slugify}}">

        <div class="input" >
            <label for="id_actual_subscription_cost">Cost</label>
            <div {% if form.actual_subscription_cost.errors|length %}class="error"{% endif %}>
            <input 
                type="text"
                readonly
                id="id_actual_subscription_cost"
                name="actual_subscription_cost"
                value="{{form.actual_subscription_cost.value|slugify}}"
                {% if form.subscription_cost.errors|length %}aria-invalid="true"{% endif %}
                size="6"
                aria-describedby="id_explain_cost id_us_dollars"/>
            <span id="id_explain_cost"></span>
            {% if form.subscription_cost.errors|length %}
            <label class="error" for="id_actual_subscription_cost">{% for error in form.subscription_cost.errors %}{{error}}{% endfor %}</label>
            {% endif %}
            <p id="id_us_dollars">Amount in United States Dollars</p>
            </div>
        </div>

       <input id="id_submit" name="submit" type="submit" value="Update Account"  title="You must enter your name, e-mail and amount to submit a donation"/>

    </form>

    <section aria-labelledby="id1">

        <h2 id="id1">Self-Registration Subscription Levels</h2>

        <p>The self-registration version of FAE is designed for inidividuals to create and manage there own accounts.
        If an individual is consistently using FAE it is expected they would purchase a paid subscription based on their use and spidering needs.
        </p>

        {% include "subscriptions/account_type_details.html"  with id="id1" account_types=account_types %}

        {% include "subscriptions/refund_policy.html"  with id="id1" account_types=account_types %}

    </section>

{% endblock %}


{% block javascript %}

<script type="text/javascript">

    var subscriptionCosts = {

        {% for at in account_types %}
        '{{at.id}}': [{{at.subscription_rate.one_month}},{{at.subscription_rate.three_month}},{{at.subscription_rate.six_month}},{{at.subscription_rate.twelve_month}}]{% if not forloop.last %},{% endif %}
        {% endfor %}

    };

    function updateSubscriptionCost() {

        function getSelectedAccountType() {

            var node = document.getElementById('id_account_type');

            var choices = node.getElementsByTagName('input');

            for(var i = 0; i < choices.length; i++) {
                var choice = choices[i];
                if (choice.checked) { 
                    isCurrentAccountType = choice.getAttribute('data-current') === 'true';
                    return subscriptionCosts[choice.value];
                }    
            }

            return subscriptionCosts['2'];
        }


        function updateSubscriptionCosts(at) {

            function updateValue(node, value, duration) {

                if (node) {
                    if (value > 0) {
                        node.innerHTML = '$' + value.toString();
                        node.parentNode.previousElementSibling.setAttribute('data-value', value + '.' + duration);
                    } 
                    else {
                        if (balance > 0 ) {
                            node.innerHTML = 'no cost, using balance';
                            node.parentNode.previousElementSibling.setAttribute('data-value', '0.' + duration);
                        }
                        else {
                            node.innerHTML = 'no cost';
                            node.parentNode.previousElementSibling.setAttribute('data-value', '0.0');
                        }    
                    }    
                }
            }

            updateValue(oneMonth, at[0], 31);
            updateValue(threeMonth, at[1], 92);
            updateValue(sixMonth, at[2], 183);
            updateValue(twelveMonth, at[3], 365);

        }

        function getSubscriptionEndDateAndCost() {

            var node = document.getElementById('id_subscription_duration');

            var choices = node.getElementsByTagName('input');

            for(var i = 0; i < choices.length; i++) {
                if (choices[i].checked) return choices[i].getAttribute('data-value');
            }

            return '0.0';

        }


        var balance = {{user_profile.subscription_balance}};
        var isCurrentAccountType = true;

        var oneMonth    = document.getElementById('id_subscription_cost_1');
        var threeMonth  = document.getElementById('id_subscription_cost_2');
        var sixMonth    = document.getElementById('id_subscription_cost_3');
        var twelveMonth = document.getElementById('id_subscription_cost_4');

        var subscriptionEnd         = document.getElementById('id_subscription_end');
        var subscriptionCost        = document.getElementById('id_subscription_cost');
        var actualSubscriptionCost  = document.getElementById('id_actual_subscription_cost');

        var explainCost = document.getElementById('id_explain_cost');

        var at = getSelectedAccountType();

        updateSubscriptionCosts(at);

        var [cost, duration] = getSubscriptionEndDateAndCost().split('.');

        var end = new Date();
        var actualCost = cost;
        explainCost.innerHTML = "";

        if (isCurrentAccountType) {
            // if current account just extend time
            end = new Date('{{user_profile.subscription_end|date:"n/j/Y"}}');
        }
        else {
            if (balance > 0) {
                // if new account type apply balance to new account and use today as start date
                credit = balance;
                actualCost = cost - balance;
                if (actualCost < 0 ) { 
                    actualCost = 0;
                    credit = cost;
                }    

                explainCost.innerHTML = "Cost includes $" + credit + " credit for current subscription balance";
            }
        }    

        end.setDate(end.getDate()+ (parseInt(duration)));

        subscriptionEnd.value        = (end.getMonth() +1)  + '/' + end.getDate() + '/' + end.getFullYear();
        subscriptionCost.value       = cost;
        actualSubscriptionCost.value = actualCost;

    }

    window.addEventListener('load', updateSubscriptionCost());

</script>

{% endblock %}
