{% extends "base.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'all_user_information' %}">All User Information</a></li>
  <li>User Information</li>
{% endblock %}

{% block title %}
{{user_profile.user.first_name}} {{user_profile.user.last_name}}

{% endblock %}

{% block content %}
<ul>
    <li><a href="{{SITE}}/admin/auth/user/{{user_profile.user.id}}/change/">Update User</a></li>
    <li><a href="{{SITE}}/admin/userProfiles/userprofile/{{user_profile.id}}/change/">Update User Profile</a></li>
</ul>
{% endblock %}
