{% extends "base.html" %}

{% block breadcrumb %}
  <li>Concepts and Terms</li>
{% endblock %}

{% block title %}
Concepts and Terms
{% endblock %}

{% block content %}

<p>FAE and AInspector WCAG for Firefox use the <a href="https://www.openajax.org/member/wiki/Accessibility">OpenAjax Evaluation
    Library</a> the following concepts are important in understanding the terms and relatiohnships of the rules, rulesets and evaluation results of the library.</p>

<h2 id="basic_concepts">Basic Concepts</h2>

<table class="details table table-striped table-hover" aria-labelledby="basic_concepts">
    <thead>
        <tr>
            <th class="text">Term</th>
            <th class="text">Definition</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Rule</th>
            <td>A low-level accessibility compliance requirement with numerous components,
                the most basic of which are a <em>definition</em>, an <em>evaluation function</em>,
                and <em>result messages</em>. When a rule is evaluated, it is assigned a
                <em>rule result value</em>.
            </td>
        </tr>
        <tr>
            <th>Ruleset</th>
            <td>A set of rules that embodies specific standards compliance goals.
        Each rule within a ruleset is designated as either <em>required</em>
        or <em>recommended</em>, according to its relationship to the
        compliance goals of the ruleset.
            </td>
        </tr>
        <tr>
            <th>Evaluation</th>
            <td>The application of all evaluation functions of all rules in the
        selected ruleset to their corresponding target resources in a
        web page, and the subsequent collection of all evaluation
        results and messages, at both the rule and element levels,
        into a dataset.
            </td>
        </tr>
        <tr>
            <th>Rule result</th>
            <td>The aggregate result of a rule evaluation with respect to
        its target resources (all of its target elements and/or
        the entire page).
            </td>
        </tr>
        <tr>
            <th>Element result</th>
            <td>The result of a rule evaluation with respect to one of
    its target elements.
            </td>
        </tr>
        <tr>
            <th>Rule Scope</th>
            <td>
                <ul>
               <li>The scope helps the developer understand what they need to consider
    in satisfying a rule.</li>
    <li><em>Element</em> level rules
        require looking at element's features for content,
        labeling, properties and states.</li>
    <li><em>Page</em> level rules require looking at the page to help
    users understand the purpose and structure of the content on a page.</li>
    <li><em>Website</em> level rules require looking at the set of
       pages in a website for consistent ordering and labeling of content and
    making sure users understand the unique content of each page through
     effective titling of the pages.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>
            </th>
            <td>
            </td>
        </tr>
    </tbody>
</table>

<h2 id="result_values">Rule and element result values</h2>

<table class="details table table-striped table-hover" aria-labelledby="result_values">
    <thead>
        <tr>
            <th class="text"><em>Value</em></th>
            <th class="text"><em>Abbrev</em></th>
            <th class="text"><em>Meaning</em></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text violation">Violation</td>
            <td class="text">V</td>
            <td class="text">One or more target elements fail the requirements of a <em>required</em> rule</td>
        </tr>
        <tr>
            <td class="text warning">Warning</td>
            <td class="text">W</td>
            <td class="text">One or more target elements fail the requirements of a <em>recommended</em> rule</td>
        </tr>
        <tr>
            <td class="text manual_check">Manual Check</td>
            <td class="text">MC</td>
            <td class="text">Unable to programmatically determine a result - evaluation requires human inspection and knowledge of the associated WCAG 2.0 requirement.</td>
        </tr>
        <tr>
            <td class="text passed">Pass</td>
            <td class="text">P</td>
            <td class="text">All rule requirements were satisfied</td>
        </tr>
        <tr>
            <td class="text fae-hidden">Hidden</td>
            <td class="text">H</td>
            <td class="text">Target elements were not evaluated because they are hidden (either visually or from assistive technologies)</td>
        </tr>
        <tr>
            <td class="text not_applicable">Not Applicable</td>
            <td class="text">N/A or ‘-’</td>
            <td class="text">Rule was not applied because there were no relevant target elements</td>
        </tr>
    </tbody>
</table>

<h3>More about rules, target resources and result values</h3>
<ul>
    <li>A rule tests target resources for specific accessibility features.</li>
    <li>Some rules are fully automated and return pass or fail results and messages.</li>
    <li>Other rules can only identify the need for human judgement to determine if an accessibility requirement has been met. These return manual check results and messages.</li>
    <li>If target resources are not found on the page, the rule result is designated as not applicable.</li>
    <li>If target resources for a rule are hidden, the rule result is designated as hidden. The hidden resources are included in the element results list to enable developers to consider their accessibility if and when they become available to users.</li>
    <li>Rules also include information on accessibility techniques and links to related resources to help developers understand how to meet the requirements of a rule.</li>
</ul>

{% include 'reports/implementation_information.html' %}
{% endblock %}
