{% extends "base.html" %}

{% block breadcrumb %}
  <li>Report Issues</li>
{% endblock %}

{% block title %}
Report Issues
{% endblock %}

{% block content %}
    <h2>Contact FAE 2.1 Administrator</h2>
    <p><a href="{% url 'contact_form' %}">Contact the adminstrator</a> (note: You must be a registered user) about any issue including:
      <ul>
        <li>Any problems you are having with the tools.</li>
        <li>Any problems you are having understanding a rule.</li>
        <li>Additional resources you think might be useful for understanding how to satisfy a rule.</li>
        <li>Ideas you have to make the rules or the tools more useful.</li>
      </ul>
    </p>
    <h2>Create an Developer Issue</h2>
    <dl>
      <dt><a href="https://github.com/opena11y/oaa-rules/issues">OpenAjax Evaluation Library Rulesets and Rules Issues List (GitHub Issue List)</a></dt>
      <dd>Request a new rule</dd>
      <dd>Report a bug or enhancement to an existing rule (<em>note:</em> Please include the rule title)</dd>

      <dt><a href="https://github.com/opena11y/fae2/issues">FAE 2.1 Issues List  (GitHub Issue List)</a></dt>
      <dd>Request a new feature for FAE 2.1</dd>
      <dd>Report a bug or enhancement to an existing feature of FAE 2.1</dd>
      <dd><em>note:</em> Please include URLs to websites or to FAE 2.1 reports when possible to help clarify an issue.</dd>
    </dl>
    <h2>Announcements and Discussion E-mail Lists</h2>
    <dl>
    <dt>Announcements</dt>
    <dd>The <a href="https://lists.illinois.edu/lists/subscribe/oaa-tools-announcements">Open Accessibility Alliance Tools announcements list</a> is for people who would like learn about the latest releases of FAE 2.1.  It is a one way low volume e-mail list announcing major changes to the tools or training opportunities to learn more about accessibility. Registered users of FAE are automatically added to this list, but users can remove themselves from the list by updating their <a href="{% url 'update_profile' %}">User Profile</a>.</dd>

    <dt>Discussion</dt>
    <dd>The <a href="https://lists.illinois.edu/lists/subscribe/oaa-tools-discussions">Open Accessibility Alliance Tools discussion list</a> is for people who would like to have more direct participation in setting the direction for development of FAE 2.1 and discuss issues with the development team.  The group also holds a monthly teleconference to discuss user and development issues.</dd>
    </dl>
{% endblock %}
