{% extends "base.html" %}
{% load staticfiles i18n %}

{% block breadcrumb %}
  <li>Sharing Reports</li>
{% endblock %}

{% block title %}
Sharing Reports
{% endblock %}

{% block content %}

<h2>E-mail</h2>
<p style="margin-top: 1em;"><span class="sendto"><a href="#"><span class="glyphicon glyphicon-envelope" style="width: 1.2em;"></span>E-mail Report</a></span></p>
<p> This link to the right of the title on each report page to e-mail a link to the report to someone.  Selecting the link will open the default e-mail application for your computer  and just enter the e-mail of the person to send the report.</p>

<h2>Comma Separated Values (CSV)</h2>
<p style="margin-top: 1em;"><span class="sendto"><a href="#">| CSV</a></span></p>
<p>Next to the e-mail link on each report page is a link with the text CSV.  This link will download a CSV representation of the current report page being viewed.</p>
{% endblock %}
