{% extends "base.html" %}

{% block breadcrumb %}
  <li>Versions.</li>
{% endblock %}

{% block title %}
Version History
{% endblock %}

{% block content %}

  <table class="details table table-striped table-hover" aria-labelledby="id_page_title">
    <thead>
      <tr>
        <th class="text">Version</td>
        <th class="text" style="width: 8em;">Date</th>
        <th class="text">Description</th>
      </tr>
    </thead>
    <tbody>
     <tr>
        <td class="text">2.1.1</td>
        <td class="text">2020-04-27</td>
        <td class="text">
          <ul>
            <li>Provide link to download a CSV version of report view data.</li>
            <li>Updated fae-util to HTMLUnit 2.39.</li>
            <li>Updated Django 2.2.12.</li>
            <li>Added new administrative view for institutional version.</li>
          </ul>
        </td>
      </tr>
     <tr>
        <td class="text">2.1</td>
        <td class="text">2020-01-17</td>
        <td class="text">
          <ul>
            <li>Updated FAE for compatibility with Django 2.2 and Python 3.6 migration.</li>
            <li>Fixed some bread crumb URL bugs.</li>
            <li>Provided additional information on usage by month and year in usage view</li>
            <li>Deleted users who had not create a new report since January 1st, 2018 and had created less than 5 reports.</li>
          </ul>
        </td>
      </tr>
     <tr>
        <td class="text">2.0.15</td>
        <td class="text">2019-10-30</td>
        <td class="text">
          <ul>
            <li>Updated fae-util to use HTMLUnit 2.36.</li>
          </ul>
        </td>
      </tr>
     <tr>
        <td class="text">2.0.14</td>
        <td class="text">2018-11-07</td>
        <td class="text">
          <ul>
            <li>Added the creation of invoices for subscription payments.</li>
            <li>Invoices can be viewed from "My Account" page.</li>
          </ul>
        </td>
      </tr>
     <tr>
        <td class="text">2.0.13</td>
        <td class="text">2018-10-29</td>
        <td class="text">
          <ul>
            <li>Updated references from AInspector Sidebar to AInspector WCAG.</li>
          </ul>
        </td>
      </tr>
     <tr>
        <td class="text">2.0.12</td>
        <td class="text">2018-09-24</td>
        <td class="text">
          <ul>
            <li>Updated fae-util to use HTMLUnit 2.33.</li>
            <li>Updated to OpenAjax Evaluation Library version 1.1.3, added try/catch for accessing frame content due to cross domain browser security issues.</li>
          </ul>
        </td>
      </tr>
     <tr>
        <td class="text">2.0.11</td>
        <td class="text">2018-09-07</td>
        <td class="text">
          <ul>
            <li>Fixed bugs related to computing daily statistics on number of reports requested and pages analyzed.</li>
          </ul>
        </td>
      </tr>
     <tr>
        <td class="text">2.0.10</td>
        <td class="text">2018-08-08</td>
        <td class="text">
          <ul>
            <li>Updated fae-util to use HTMLUnit 2.32.</li>
            <li>Fixed bug for pages without titles, to have a default title using the URL.</li>
          </ul>
        </td>
      </tr>
     <tr>
        <td class="text">2.0.9</td>
        <td class="text">2018-06-10</td>
        <td class="text">
          <ul>
            <li>Updated fae-util to use HTMLUnit 2.30.</li>
            <li>Added log archiving, to keep the logging files from getting to big.</li>
          </ul>
        </td>
      </tr>
     <tr>
        <td class="text">2.0.8</td>
        <td class="text">2018-02-16</td>
        <td class="text">
          <ul>
            <li>Updated fae-util to use HTMLUnit 2.29.</li>
          </ul>
        </td>
     </tr>
     <tr>
        <td class="text">2.0.7</td>
        <td class="text">2017-11-17</td>
        <td class="text">
          <ul>
            <li>Fixed bug in URL definition for excluded URLs, sometimes excluded URLs did not include a protocol or domain.</li>
            <li>Updated fae-util to use HTMLUnit 2.28.</li>
            <li>Added code to clean up pending reports when starting the process evaluations utiltity.  This removes reports that are in a unstable state.</li>
          </ul>
        </td>
     </tr>
     <tr>
        <td class="text">2.0.6</td>
        <td class="text">2017-10-09</td>
        <td class="text">
          <ul>
            <li>Updated fae-util to use HTMLUnit 2.28-prerelease, to fix bug found in HTMLUNit 2.27 in fae-util.</li>
          </ul>
        </td>
     </tr>
     <tr>
        <td class="text">2.0.5</td>
        <td class="text">2017-09-11</td>
        <td class="text">
          <ul>
            <li>Updated fae-util to use HTMLUnit 2.27.</li>
            <li>Added Voluntary Product Accessibility Template (VPAT).</li>
            <li>Fixed bug in using the "path" option to filter web pages.</li>
          </ul>
        </td>
     </tr>
     <tr>
        <td class="text">2.0.4a</td>
        <td class="text">2017-07-14</td>
        <td class="text">
          <ul>
            <li>Updated to OpenAjax Evaluation Library 1.1.0, which include the following changes:
              <ol>
                <li>
                  HTML Element Rule Changes
                  <ul>
                    <li><strong>  Replace <code>b</code> and <code>i</code> elements (HTML 1):</strong> Removed rule from both rulesets, <code>b</code> and <code>i</code> elements are defined in HTML5 and have there own unique semantics.</li>
                  </ul>
                </li>
                <li>
                  Keyboard Rule Changes
                  <ul>
                    <li><strong>Widgets must have keyboard support required by their roles (Keyboard 1): </strong> Has been changed to only generate manual checks.</li>
                  </ul>
                </li>
                <li>
                  Layout Rule Changes
                  <ul>
                    <li><strong>Layout tables must have meaningful sequence (Layout 1):</strong> Updated purpose messaging to help make rule requirements clearer.</li>
                    <li><strong>Verify aria-flowto supports reading order (Layout 3):</strong> Added new rule to verify reflow of content.</li>
                  </ul>
                </li>
                <li>
                  Landmark Rule Changes
                  <ul>
                    <li><strong>All content must be contained in landmarks (Landmark 2):</strong> Updated rule to not include the element <code>imput[type="hidden"]</code>.</li>
                  </ul>
                </li>
                <li>
                  Widget Rule Changes
                  <ul>
                    <li><strong>Verify live region is appropriate (Widget 14):</strong> Added new rule to verify the use of live regions.</li>
                  </ul>
                </li>
              </ol>
            </li>
            <li>Added information about non-HTML files (e.g. PDF, Microsoft Office, video, audio...) linked to pages in the website.
            The file information can be found in the "URL Evaluation Information" page.</li>
            <li>"URL Evaluation Information" page has been reorganized and labeling of sections updated.</li>
            <li>Fixed some template bugs for reporting element level summary results (e.g. page totals) for manual checks.</li>
            <li>Updated fae-util to use HTMLUnit 2.25.</li>
            <li>Fixed bug in initializing subscription accoutns in the Shibboleth login option for FAE 2.0</li>
          </ul>
        </td>
     </tr>
     <tr>
        <td class="text">2.0.3</td>
        <td class="text">2017-01-29</td>
        <td class="text">
          <ul>
            <li>Fixed bug with initializing starting URL for reports, which was most notable for single page reports when the starting URL has a path.</li>
            <li>Fixed single page summary report formatting problems.</li>
          </ul>
        </td>
     </tr>
     <tr>
        <td class="text">2.0.2</td>
        <td class="text">2017-01-10</td>
        <td class="text">
          <ul>
            <li>Increased capabilities of the FREE account type.</li>
            <li>Simiplied subscriptions to be just "Standard" and "Advanced".</li>
            <li>Updated user interface styling and layout.</li>
            <li>Integrated "Advanced Run" features in to the standard "Run FAE" page.</li>
            <li>Updated the labeling of form controls in Run FAE form.</li>
            <li>Updated the format of the Report Information section at the top of each page in a report.</li>
            <li>Added URL "path" filter to URL filtering capabilities of FAE.  NOTE: When a path is present in the input URL the ability to follow sub domains is not available.</li>
            <li>Added information to reports that not all URLs in the website were evaluated, basically the max page feature limited the number of pages included.</li>
            <li>Fixed styling problems in template for usage statistics.</li>
            <li>Added hide/show widget <span class="glyphicon glyphicon-info-sign" style="color: rgb(51, 122, 183)"></span> to provide more information about form control options.</li>
            <li>Added "column definitions" section for page level rule results views.</li>
            <li>Updated fae-util to use HTMLUnit 2.24.</li>
         </ul>
      </tr>
     <tr>
        <td class="text">2.0.1</td>
        <td class="text">2016-11-10</td>
        <td class="text">
          <ul>
            <li>Added FAQ page under Abouts menu.</li>
            <li>Clarified Implementation Score calculation.</li>
         </ul>
      </tr>
     <tr>
        <td class="text">2.0.0</td>
        <td class="text">2016-10-05</td>
        <td class="text">
          <ul>
            <li>Enabled subscription service for FAE 2.0.</li>
            <li>Added annoucement utility.</li>
         </ul>
      </tr>
     <tr>
        <td class="text">2.0.0-beta.3</td>
        <td class="text">2016-09-17</td>
        <td class="text">
          <ul>
            <li>Updated form control and link focus styling.</li>
            <li>Added account types to configure spidering depth and maximum number of pages.</li>
            <li>Added support for subscriptions and credit card payment.</li>
            <li>Fixed bug in password reset functions.</li>
            <li>Added advanced run view for higher level account types.</li>
            <li>Updated to <a href="http://www.openajax.org/member/wiki/Accessibility_OAA_Library_Downloads">Version 1.0.0</a> of the OpenAjax evaluation library.</li>
            <li>Updated fae-util to use HTMLUnit 2.23.</li>
         </ul>
      </tr>
      <tr>
        <td class="text">2.0.0-beta.2</td>
        <td class="text">2016-06-24</td>
        <td class="text">
          <ul>
            <li>Added increased depth feature for higher level accounts.</li>
            <li>Added run advanced report, provding more control over which sub-domains are included in the evaluation and which are excluded.</li>
            <li>Updated to <a href="http://www.openajax.org/member/wiki/Accessibility_OAA_Library_Downloads">Version 1.0.0-beta.6</a> of the OpenAjax evaluation library.</li>
            <li>Updated fae-util to use HTMLUnit 2.21.</li>
         </ul>
      </tr>
      <tr>
        <td class="text">2.0.0-beta.1</td>
        <td class="text">2016-04-21</td>
        <td class="text">
          <ul>
            <li>Added E-mail link to share a report.</li>
            <li>Support Shibboleth authentication.</li>
            <li>Implementation score now includes manual checks in score calculation.</li>
            <li>Delete reports directly from "Manage Reports".</li>
            <li>Added "maximum pages" feature when requesting report.</li>
            <li>Improved usage statistics.</li>
            <li>Improved contact form, users can now view there contacts and responses.</li>
            <li>Refactored code for open source distribution.</li>
            <li>Updated fae-util to use HTMLUnit 1.19.</li>
            <li>Source code available from GitHub.com at <a href="https://github.com/opena11y/fae2">https://github.com/opena11y/fae2</a>.</li>
            <li>Updated to <a href="http://www.openajax.org/member/wiki/Accessibility_OAA_Library_Downloads">Version 1.0.0-beta.5</a> of the OpenAjax evaluation library.</li>
         </ul>
      </tr>
      <tr>
        <td class="text">0.9.9</td>
        <td class="text">2015-08-14</td>
        <td class="text">
          <ul>
            <li>Updated OpenAjax Evaluation Library to Version 1.0.0-beta.3, has updated the following rules:
              <ul>
                <li>Frame 1: frame must have accessible name (new).</li>
                <li>Frame 2: iframe must have accessible name (new).</li>
                <li>Image 1: Images must have alt text (Not new, but extensively modified).</li>
                <li>Image 2: Alt text must summarize purpose (Not new, but extensively modified).</li>
                <li>Image 5: Verify image is decorative (Not new, but extensively modified).</li>
                <li>Image 6: Long description for complex images (Not new, but extensively modified).</li>
                <li>Image 7: Use MathML for mathematical expressions (new).</li>
                <li>Keyboard 2: Behaviors supported by keyboard (Not new, but extensively modified).</li>
                <li>Landmark 2: All content must be contained in landmarks (Not new, but extensively modified).</li>
                <li>Landmark 16: region landmark must have accessible name (Not new, but extensively modified).</li>
                <li>Landmark 17: Landmarks must be uniquely identifiable (Not new, but extensively modified).</li>
                <li>Landmark 18: Landmarks must identify content regions (Not new, but extensively modified).</li>
                <li>Link 1: Link text must be descriptive (extensively modified).</li>
                <li>List 1: Use list markup semantically (new).</li>
                <li>List 2: Labeling lists (new).</li>
                <li>Order 1: Reading order: CSS positioning (new).</li>
              </ul>
           .</li>
           <li>Updated Ruleset view.</li>
         </ul>
      </tr>
      <tr>
        <td class="text">0.9.8</td>
        <td class="text">2015-08-14</td>
        <td class="text">
          <ul>
            <li>Updated OpenAjax Evaluation Library to Version 0.9.9.2:
              <ul>
                <li>Changed heading rule 5 to be required in ARIA + HTML5 ruleset.</li>
                <li>Fixed grammar in summaries for VIDEO 8 and 9 rules.</li>
                <li>Changed heading rule 5 to have primary relationship with WCAG SC 1.3.1 (was 2.4.6).</li>
                <li>Updated visibility calculation to include test on the height of the text (e.g. text with 0 height does not need to be tested for color contrast).</li>
                <li>Moved role semantic restriction rules from landmark to style/content rule category.</li>
                <li>Added rules for frame and iframe having accessible names.</li>
                <li>Fixed bug in incorrectly identifying header and footer elements inside sectioning elements as landmarks.</li>
                <li>Updated landmark messaging to improve the identification of techniques to create landmarks.</li>
                <li>Added landmark 19 rule: landmarks must be descriptive of the sections they identify.</li>
                <li>Updated widget rule 1 to use "label" instead of "accessible name", reference WCAG 2.0 ARAI techniques and element messaging uses XXX element with YYY widget role.</li>
                <li>Added widget rule 12 to verify labels for elements with widget roles are descriptive.</li>
                <li>Fixed Table Rule 1 to also allow the use of the headers attribute to define headers in simple data tables.</li>
                <li>Reimplementation of Keyboard Rule 3 on page being keyboard operable, basically identifying any elements with events or tab index values other than 0.</li>
                <li>Updated keyboard rule 1 to correctly test for the potential of keyboard event handlers on owned children.</li>
                <li>Removed keyboard 2 rule since HTML5 requires a default value of tabindex=-1, basically any element can receive focus.</li>
                <li>Moved keyboard rule 3 -> keyboard rule 2 since keyboard rule 2 was removed.</li>
                <li>Moved keyboard rule 4 -> keyboard rule 3 since keyboard rule 3 was removed.</li>
                <li>Added list rule 1 for using semantically meaningful list markup on the page.</li>
                <li>Added list rule 2 about manual tests for labeling a list container.</li>
                <li>Added reading order rule 1 to evaluation library.</li>
              </ul>
            .</li>
            <li>Updated fae-util to latest version, now uses HTMLUnit 2.18.</li>
            <li>Updated ruleset views to include related rule information.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text">0.9.7</td>
        <td class="text">2015-06-02</td>
        <td class="text">
          <ul>
            <li>Updated OpenAjax Evaluation Library to Version 0.9.9.1:
              <ul>
                   <li>Updated HTML5 element role restriction rules not to result in PASS, only FAIL or MANUAL checks.</li>
                   <li>Updated HTML5 element role restriction rule messaging to emphasize the correct us of
  semantics and overriding default HTML5 sectioning rules.</li>
                   <li>Updated data table rule (TABLE 2) to support complex data tables from rules.</li>
                   <li>Updated audio NLS to include element level HIDDEN message for audio rules 2 and 3.</li>
                   <li>In aria strict ruleset changed heading 5 rule to be recommended (header nesting page) to recommended and changed heading rule 8 to required (header nesting in landmarks) to be required..</li>
                   <li>Added form element to Landmark rule 18 landmark role restrictions.</li>
                   <li>Fixed messaging bugs with LANDMARK 8 rule .</li>
                   <li>Fixed bug in calculating accessible name when LABEL elements are empty and multiple LABEL references.</li>
                   <li>Added "landmark" property to represent the computed landmark value for an element.</li>
                   <li>Updated all landmark rules to use the computed "landmark" value instead or role value
  and heading rules that are dependent on landmark information.</li>
                   <li>Support HTML5 sectioning elements for their default landmark roles in landmark rules.</li>
                   <li>Improved consistency of landmark rule messaging.</li>
                   <li>Fixed data table naming rule (TABLE_2) that was only testing simple data tables, now also
  tests complex data tables.</li>
              </ul>
            .</li>
            <li>Updated fae-util to latest version, now uses HTMLUnit 2.16.</li>
            <li>Updated ruleset views to include related rule information.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text">0.9.6c</td>
        <td class="text">2015-03-20</td>
        <td class="text">
          <ul>
            <li>Added information about the announcement and discussion e-mail lists.</li>
            <li>Added links to the FAE 2.0 and OpenAjax Evaluation Library issues list.</li>
            <li>Improved DL/DT/DD styling.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text">0.9.6b</td>
        <td class="text">2015-03-11</td>
        <td class="text">
          <ul>
            <li>Fixed aria-sort property problem bug not updating correctly.</li>
            <li>Updated OpenAjax Evaluation Library to version 0.9.8.1
              <ul>
                <li>Fixed undeclared variable in LANDMARK RULE 3.</li>
                <li>Fixed undefined function error with Link Cache calculation by testing for type String.</li>
                <li>Fixed bug with button element accessible name calculation, now supports aria-label, aria-labelledby and title attributes.</li>
              </ul>
            .</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text">0.9.6a</td>
        <td class="text">2015-03-09</td>
        <td class="text">
          <ul>
            <li>Updated registration response to provide information about how to unsubscribe to the announcements list.</li>
            <li>Contact messages include e-mail of user for easier response to message.</li>
            <li>Added URL referral feature to allow embedding a link in a web page to have the page evaluated by FAE 2.0 when the link is selected (note: generates an anonymous single page report).</li>
            <li>Improved internal website link and name references to use database "site" information.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text">0.9.6</td>
        <td class="text">2015-03-02</td>
        <td class="text">
          <ul>
            <li>Added references to <a href="https://addons.mozilla.org/en-US/firefox/addon/ainspector-wcag/">AInspector WCAG</a> in page level result views and in about menu.</li>
            <li>Updated OpenAjax library to version 0.9.8 of the library
              <ul>
                <li>Added BYPASS_1 rule that supports "SkipTo" script and internal linking.</li>
                <li>Updated table cache to provide better support for CAPTION element and SUMMARY attribute.</li>
                    for naming and describing tables and table titling rules now use this information in
                    rule evaluation and results.</li>
                <li>Updated TABLE_5 to result in manual check for tables that contain only one row or column.</li>
                <li>Removed the concept of "large" data table from library and rules.</li>
                <li>Added two rules to table data rules for:
                  <ul>
                    <li>Split simple and complex data table heading requirements out of TABLE 1 rule
                    <li>TABLE 1 is just about headings for simple data tables and updated messaging to reflect changes
                    <li>New TABLE 7 is just about headings for complex data tables
                    <li>New TABLE 8 is about accessible name beting different from accesible description
                  </ul>
                .</li>
                <li>Updated for CONTROL_3 to include title attribute as another group titling technique.</li>
                <li>Updated labeling references for form control labeling rules to include references to
                    ARIA labeling specifications.</li>
                <li>Fixed bug with name calculation for links includes TITLE attribute.</li>
                <li>Updated LANDMARK_3 rule to be not applicable if no or less than 4 links found on a page.</li>
                <li>Updated CONTROL_5 to fail form controls with duplicate IDs when they are hidden, improved messaging.</li>
              </ul>
            .</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text">0.9.5</td>
        <td class="text">2015-02-12</td>
        <td class="text">
          <ul>
            <li><strong>IMPORTANT:</strong> Report quotas now will be enforced (e.g. 5 permanent reports, last 5 reports run).</li>
            <li>Updated OpenAjax library to version 0.9.7.4 of the library
              <ul>
                <li>Removed BASIC ruleset.</li>
                <li>Updated titles and descriptions of ARIA_STRICT and ARIA_TRANS ruleset.</li>
                <li>Removed WIDGET 12 from ARIA_TRANS ruleset.</li>
                <li>Changed conditional landmark rules to be recommended in ARIA_TRANS ruleset.</li>
                <li>Move FOCUS 2 rule to keyboard support rule category.</li>
                <li>NAVIGATION 3 and 5 rules are now required in both rulesets.</li>
                <li>Fixed bugs in other rules.</li>
              </ul>
            .</li>
            <li>"Basic" ruleset removed from "Run" options.</li>
            <li>Added links to view rule details in "Rulesets" view.</li>
            <li>Report status automatically updated (e.g. no page refresh required) and provide information on how many pages have been analyzed in real time to show progress.</li>
            <li>Added "Get Last Report Settings" button to the run report form, to provide a way to import previously used settings.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text">0.9.4</td>
        <td class="text">2015-01-22</td>
        <td class="text">
          <ul>
            <li>Updated OpenAjax library to version 0.9.7.2 of the library.</li>
            <li>Export reports to an JSON or XML format.</li>
            <li>Table sorting features to reorder rows by column values.</li>
            <li>Updated user interface using bootstrap.js to improve response to different screen sizes.</li>
            <li>“SkipTo” feature for keyboard only navigation.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text">0.9.3</td>
        <td class="text">2014-07-10</td>
        <td class="text">
          <ul>
            <li>Updated OpenAjax library.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text">0.9.2</td>
        <td class="text">2014-05-28</td>
        <td class="text">
          <ul>
            <li>Updated OpenAjax library to version 0.9.4, including ARIA + Lnndmarks ruleset.</li>
            <li>Additional user options for viewing report information.</li>
            <li>Improved back end administration tools.</li>
        </td>
      </tr>
      <tr>
        <td class="text">0.9.1</td>
        <td class="text">2014-04-29</td>
        <td class="text">
          <ul>
            <li>Initial Release with the OpenAjax Evaluation Library.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  </table>
{% endblock %}
