{% extends "base.html" %}
{% load staticfiles i18n %}
{% load tz %}

{% block breadcrumb %}
    <li>Usage</li>
{% endblock %}

{% block title %}
      Usage Statistics
{% endblock %}

{% block content %}

<section aria-labelledby="id_ytd">
<h2 id="id_ytd">Summary</h2>
<table  class="details table table-striped table-hover"  aria-labelledby="id_ytd">
    <thead>
      <tr>
        <th id="id_grp" class="text">Time Period</th>
        <th id="id_nor" class="num">Reports</th>
        <th id="id_imp" class="num">Pages</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text">Today</th>
            <td class="num">{{stats_day.ws_report_group.num_total_reports}}</td>
            <td class="num">{{stats_day.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th class="text">Last 7 Days</th>
            <td class="num">{{stats_seven_days.num_total_reports}}</td>
            <td class="num">{{stats_seven_days.num_total_pages}}</td>
        </tr>
        <tr>
            <th class="text">Month to date</th>
            <td class="num">{{stats_month.ws_report_group.num_total_reports}}</td>
            <td class="num">{{stats_month.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th class="text">Year to date</th>
            <td class="num">{{stats_year.ws_report_group.num_total_reports}}</td>
            <td class="num">{{stats_year.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th class="text">All Time</th>
            <td class="num">{{stats_all.ws_report_group.num_total_reports}}</td>
            <td class="num">{{stats_all.ws_report_group.num_total_pages}}</td>
        </tr>
    </tbody>
</table>
</section>

<section aria-labelledby="id_user_info">
<h2 id="id_user_info">Registered and Anonymous</h2>

<table  class="details table table-striped table-hover"  aria-labelledby="id_user_info">
    <thead>
      <tr>
        <th id="id_grp" class="text"></th>
        <th id="id_num" class="num">Users</th>
        <th id="id_nor" class="num">Reports</th>
        <th id="id_imp" class="num">Pages</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text">Registered Users</th>
            <td class="num">{{stats_reg_users.user_stats.all.count}}</td>
            <td class="num">{{stats_reg_users.ws_report_group.num_total_reports}}</td>
            <td class="num">{{stats_reg_users.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th class="text">Anonymous Reports</th>
            <td class="num">-</td>
            <td class="num">{{stats_anonymous.ws_report_group.num_total_reports}}</td>
            <td class="num">{{stats_anonymous.ws_report_group.num_total_pages}}</td>
        </tr>
    </tbody>
</table>
</section>

<section aria-labelledby="id_rulesets">
<h2 id="id_rulesets">Rulesets</h2>

<table  class="details table table-striped table-hover"  aria-labelledby="id_rulesets">
    <thead>
      <tr>
        <th id="id_grp" class="text">Ruleset</th>
        <th id="id_nor" class="num">Reports</th>
        <th id="id_imp" class="num">Pages</th>
      </tr>
    </thead>
    <tbody>
    {% for rs in stats_rulesets %}
        <tr>
            <th class="text">{{rs.ruleset.title}}</th>
            <td class="num">{{rs.ws_report_group.num_total_reports}}</td>
            <td class="num">{{rs.ws_report_group.num_total_pages}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<section aria-label="Details">
  <h2 id="id_yearly_details">Years</h2>
  <p>Includes both registered and anonymous reports</p>

  <table  class="details table table-striped table-hover"  aria-labelledby="id_yearly_details">
    <thead>
      <tr>
        <th class="text">Year</th>
        <th class="num">Reports</th>
        <th class="num">Pages</th>
      </tr>
    </thead>
    <tbody>
    {% for s in stats_all_years %}
        <tr>
            <th class="text">{{s.title}}</th>
            <td class="num">{{s.ws_report_group.num_total_reports}}</td>
            <td class="num">{{s.ws_report_group.num_total_pages}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2 id="id_monthly_details">Monthly</h2>
  <p>Includes both registered and anonymous reports</p>
  <table  class="details table table-striped table-hover"  aria-labelledby="id_monthly_details">
    <thead>
      <tr>
        <th class="text">Num</th>
        <th class="num">Reports</th>
        <th class="num">Pages</th>
      </tr>
    </thead>
    <tbody>
    {% for s in stats_all_months %}
        <tr>
            <th class="text">{{s.title}}</th>
            <td class="num">{{s.ws_report_group.num_total_reports}}</td>
            <td class="num">{{s.ws_report_group.num_total_pages}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
</section>
{% endblock %}
