{% extends "base.html" %}
{% load staticfiles i18n %}
{% load tz %}

{% block breadcrumb %}
    <li>Usage</li>
{% endblock %}

{% block title %}
      Usage Statistics
{% endblock %}

{% block content %}

<section aria-labelledby="id_ytd">
<h2 id="id_ytd">Time</h2>
<table  id="id_table_show_summary" class="details table table-striped table-hover"  aria-labelledby="id_ytd">
    <thead>
      <tr>
        <th id="id_grp" class="text">Time Period</th>
        <th id="id_nor" class="text">Reports</th>
        <th id="id_imp" class="num">Pages</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text">Today</th>
            <td class="text">{{stats_day.ws_report_group.num_total_reports}}</td>
            <td class="text">{{stats_day.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th class="text">Last 7 Days</th>
            <td class="text">{{stats_seven_days.ws_report_group.num_total_reports}}</td>
            <td class="text">{{stats_seven_days.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th class="text">Month</th>
            <td class="text">{{stats_month.ws_report_group.num_total_reports}}</td>
            <td class="text">{{stats_month.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th class="text">Year</th>
            <td class="text">{{stats_year.ws_report_group.num_total_reports}}</td>
            <td class="text">{{stats_year.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th class="text">All Time</th>
            <td class="text">{{stats_all.ws_report_group.num_total_reports}}</td>
            <td class="text">{{stats_all.ws_report_group.num_total_pages}}</td>
        </tr>
    </tbody>
</table>    
</section>

<section aria-labelledby="id_user_info">
<h2 id="id_user_info">User Stats</h2>

{% if stats_reg_users.user_stats.count > 1 %}
<p>{{stats_reg_users.user_stats.count}} Registered Users</p>
{% else %}
<p>1 Registered User</p>
{% endif %}

<table  id="id_table_show_summary" class="details table table-striped table-hover"  aria-labelledby="id_user_info">
    <thead>
      <tr>
        <th id="id_grp" class="text">Users</th>
        <th id="id_nor" class="num">Reports</th>
        <th id="id_imp" class="mum">Pages</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text">Registered Users</th>
            <td class="num">{{stats_reg_users.ws_report_group.num_total_reports}}</td>
            <td class="num">{{stats_reg_users.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th class="text">Anonymous Reports</th>
            <td class="num">{{stats_anonymous.ws_report_group.num_total_reports}}</td>
            <td class="num">{{stats_anonymous.ws_report_group.num_total_pages}}</td>
        </tr>
    </tbody>
</table>    
</section>

<section aria-labelledby="id_rulesets">
<h2 id="iid_rulesets">Ruleset Stats</h2>

<table  id="id_table_show_summary" class="details table table-striped table-hover"  aria-labelledby="id_rulesets">
    <thead>
      <tr>
        <th id="id_grp" class="text">Ruleset</th>
        <th id="id_nor" class="num">Reports</th>
        <th id="id_imp" class="mum">Pages</th>
      </tr>
    </thead>
    <tbody>
    {% for rs in stats_rulesets %}
        <tr>
            <th class="text">{{rs.ruleset.title}}</th>
            <td class="num">{{rs.ws_report_group.num_total_reports}}</td>
            <td class="num">{{rs.ws_report_group.num_total_pages}}</td>
        </tr>
    {% endfor %}    
    </tbody>
</table>    
</section>


{% endblock %}
