{% extends "base.html" %}
{% load staticfiles i18n %}
{% load tz %}

{% block breadcrumb %}
    <li>Usage</li>
{% endblock %}

{% block title %}
      Usage Statistics
{% endblock %}

{% block content %}
<section aria-labelledby="id_ytd">
<h2 id="id_ytd">Year To Date Usage</h2>

<table  id="id_table_show_summary" class="details table table-striped table-hover"  aria-labelledby="id_ytd">
    <thead>
      <tr>
        <th id="id_grp" class="text">Time Period</th>
        <th id="id_nor" class="text">Reports</th>
        <th id="id_imp" class="text">Pages</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th>Today</th>
            <td>{{today.ws_report_group.num_total_reports}}</td>
            <td>{{today.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th>Month</th>
            <td>{{month.ws_report_group.num_total_reports}}</td>
            <td>{{month.ws_report_group.num_total_pages}}</td>
        </tr>
        <tr>
            <th>Year</th>
            <td>{{year.ws_report_group.num_total_reports}}</td>
            <td>{{year.ws_report_group.num_total_pages}}</td>
        </tr>
    </tbody>
</table>    
</section>

<section aria-labelledby="id_user_info">
<h2 id="id_user_info">User Information</h2>

<table  id="id_table_show_summary" class="details table table-striped table-hover"  aria-labelledby="id_user_info_info">
    <thead>
      <tr>
        <th id="id_grp" class="text">User</th>
        <th id="id_nor" class="text">Reports</th>
        <th id="id_imp" class="text">Pages</th>
      </tr>
    </thead>
    <tbody>
        {% for u in user_stats %}
        <tr>
            <th>{{u.user}}</th>
            <td>{{u.ws_report_group.num_total_reports}}</td>
            <td>{{u.ws_report_group.num_total_pages}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>    
</section>



{% endblock %}
