{% extends "password_reset/base.html" %}
{% load staticfiles i18n %}

{% block title %}{% trans "Password Recovery" %}{% endblock %}

{% block content %}
	<form method="post" action="{{ url }}">
		{% csrf_token %}

        {% include "forms/input_text.html" with input=form.username_or_email size=30 %}

		<input type="submit" value="{% trans "Recover my password" %}"/>

	</form>
{% endblock %}

{% block javascript %}

<script src="{% static 'js/form-control-focus.js' %}" type="text/javascript"></script>

{% endblock %}

