{% extends "base.html" %}

{% block breadcrumb %}
    <li><a href="{{ rulesets_url }}">Rulesets</a></li>
    <li>Ruleset</li>
{% endblock %}

{% block title %}
  {{ruleset.title}}
{% endblock %}

{% block content %}

 {% include "rulesets/ruleset_detail.html" %}

<nav aria-label="Ruleset Comparison Options">
    <ul class="nav nav-tabs">
          <li><a id="rsc_rc"   href="{% url 'ruleset' ruleset.slug %}">by Rule Categories</a></li>
          <li class="active"><a id="rsc_wcag" href="{% url 'ruleset_wcag' ruleset.slug %}">by WCAG 2.0 Success Criteria</a></li>
    </ul>
</nav>

 {% for g_item in ruleset.gl_mappings.all %}
 <h2 id="g{{g_item.guideline.id}}">Guideline {{ g_item.guideline }}</h2>

 {% for sc_item in g_item.sc_mappings.all %}
 <h3 id="sc{{sc_item.success_criterion.id}}">Success Criterion {{ sc_item.success_criterion}} ({{ sc_item.success_criterion.show_level }})</h3>
 <table class="table table-striped sortable"
        aria-labelledby="#sc{{sc_item.success_criterion.id}}">
   <thead>
    <tr>
        <th style="min-width: 6.5em">Rule ID</th>
        <th>Summary</th>
        <th>Required</th>
    </tr>
   </thead>
   <tbody>
 {% for rm in sc_item.primary_mappings.all %}
    <tr>
        <td>{{rm.rule.nls_rule_id}}</td>
        <td><a href="{% url 'ruleset_rule_wcag' ruleset.slug rm.rule.rule_id %}">{{rm.rule.summary_html|safe}}</a></td>
        {% if rm.required %}
        <td>Yes</td>
        {% else %}
        <td>no</td>
        {% endif %}
    </tr>
 {% endfor %}
   </tbody>

</table>
 {% endfor %}
 {% endfor %}

{% endblock %}
