{% extends "base.html" %}


{% block content %}

 <h1>Ruleset: {{ruleset.title}}</h1>    

 {% for g_item in ruleset.get_rules_by_wcag %}
 <h2 id="g{{g_item.guideline.id}}">{{ g_item.guideline.title }}</h2>

 {% for sc_item in g_item.success_criteria %}
 <h3 id="sc{{sc_item.success_criterion.id}}">{{ sc_item.success_criterion.title }}</h3>
 <table class="table table-striped sortable" 
        aria-labelledby="#sc{{sc_item.success_criterion.id}}">
   <thead>
    <tr>
        <th>Rule ID</th>
        <th>Summary</th>
        <th>Level</th>
        <th><abbr title="Success Criterion">SC</abbr></th>
        <th>Required</th>
    </tr>
   </thead>
   <tbody>
 {% for rm in sc_item.rule_mappings %}
    <tr>
        <td>{{rm.rule.nls_rule_id}}</td>
        <td>{{rm.rule.summary_html|safe}}</td>
        <td>{{rm.rule.wcag_primary.show_level_html_code|safe}}</td>
        <td>{{rm.rule.wcag_primary.show_number_html_code|safe}}</td>
        {% if rm.required %}
        <td>Yes</td>
        {% else %}
        <td>no</td>
        {% endif %}
    </tr>    
 {% endfor %}
   </tbody>

</table>
 {% endfor %}

{% endblock %}


