<table class="table table-striped table-hover rule" aria-label="Information on rule, {{rule.summary_text}}" style="margin-top: 1em">
    <tbody>
        <tr>
            <th>Definition</th>
            <td>{{ rule.definition_html|safe }}</td>
        </tr>
        <tr>
            <th>Purpose</th>
            <td>
                {{ rule.purpose_html|safe }}
            </td>
        </tr>
        {% if rule_mapping %}
        <tr>
            <th>Required</th>
            {% if rule_mapping.required %}
            <td class="yes">Yes for <em>{{ rule_mapping.ruleset.title }}</em> ruleset mapping</td>
            {% else %}
            <td clas="no">No for <em>{{ rule_mapping.ruleset.title }}</em> ruleset mapping</td>
            {% endif %}
        </tr>
        {% else %}
        <tr>
            <th>Mappings</th>
            <td>
                {% if rule.rule_mappings.count %}
                <ul>
                    {% for rm in rule.rule_mappings.all %}
                    <li>
                        {{ rm.ruleset.title }}
                        {% if rm.required %}
                        (Required)
                        {% else %}
                        (Recommended)
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                none
                {% endif %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>WCAG 2.0 Success Criteria</th>
            <td>
                <p class="primary"><a href="{{rule.wcag_primary.url}}" target="_requirement_ref">{{rule.wcag_primary.number}} {{rule.wcag_primary.title}} ({{rule.wcag_primary.show_level}}, <em>Primary Success Criterion</em>)</a></p>
                <p class="related">Other Related Success Criterion: </p>
                <ul class="related">
                    {% if rule.wcag_related.all.count %}
                    {% for sc in rule.wcag_related.all %}
                    <li class="related"><a href="{{sc.url}}" target="_requirement_ref">{{sc.number}} {{sc.title}} ({{sc.show_level}})</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Rule Category</th>
            <td>{{ rule.category }}</td>
        </tr>
        <tr>
            <th>Scope</th>
            <td>{{ rule.scope }}</td>
        </tr>
        <tr>
            <th>Target Resources</th>
            <td>
                {{ rule.target_resource_desc_html|safe}}
                <ul>
                    {% for tr in rule.target_resources.all %}
                    <li><code>{{ tr.title }}</code></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Techniques</th>
            <td>
                {{ rule.techniques_html|safe }}
            </td>
        </tr>
        {% if rule.manual_checks %}
        <tr>
            <th>Manual Checks</th>
            <td>
                {{ rule.manual_checks_html|safe }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>Informational Links</th>
            <td>
                {{ rule.informational_links_html|safe }}
            </td>
        </tr>
    </tbody>
</table>
