{% extends "rulesets/rulesets_base.html" %}

{% block rulesets_comparison %}

{% for rg in guidelines %}
    <h3 id="{{ rg.id }}" >Guideline {{ rg }}</h3>

    {% for sc in rg.success_criteria.all %}

    {% if sc.rules.count %}
    <h4 id="{{ sc.id }}" >{{ sc }} ({{ sc.show_level }})</h4>

    <table aria-labelledby="{{ sc.id }}" class="table table-striped sortable">
        <thead>
            <tr>
                <th style="min-width: 6.5em">Rule ID</th>
                <th>Summary</th>
                <th>Rule Category</th>
                {% for rs in rulesets %}
                <th>{{ rs.title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for r in sc.rules.all %}
            <tr>
                <td>{{ r.nls_rule_id }}</td>
                <td><a href="{% url 'rulesets_rule_wcag' r.rule_id %}">{{ r.summary_html | safe }}</a></td>
                <td>{{ r.category}}</td>
                {% for rm in r.get_rule_mappings %}
                {% if rm == '1' %}
                <td>Required</td>
                {% else %}
                  {% if rm == '2' %}
                  <td>Recommended</td>
                  {% else %}
                  <td title="Not included in ruleset">-</td>
                  {% endif %}
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endfor %}
{% endfor %}

{% endblock %}
