{% extends "base.html" %}

{% block breadcrumb %}
    <li><a href="{{ rulesets_url }}">Rulesets</a></li>
    <li>Ruleset</li>
{% endblock %}

{% block title %}
  {{ruleset.title}}
{% endblock %}

{% block content %}

 {% include "rulesets/ruleset_detail.html" %}

<nav aria-label="Ruleset Comparison Options">
    <ul class="nav nav-tabs">
          <li class="active"><a id="rsc_rc"   href="{% url 'ruleset' ruleset.slug %}">by Rule Categories</a></li>
          <li><a id="rsc_wcag" href="{% url 'ruleset_wcag' ruleset.slug %}">by WCAG 2.0 Success Criteria</a></li>
    </ul>
</nav>

 {% for rcm in ruleset.rc_mappings.all %}
 <h2 id="rc{{rcm.rule_category.id}}">{{ rcm.rule_category.title }}</h2>
 <table class="table table-striped sortable"
        aria-labelledby="#rc{{rcm.rule_category.id}}">
   <thead>
    <tr>
        <th style="min-width: 6.5em">Rule ID</th>
        <th>Summary</th>
        <th>Level</th>
        <th title="WCAG 2.0 Success Criterion">SC</th>
        <th>Required</th>
    </tr>
   </thead>
   <tbody>
 {% for rm in rcm.rule_mappings.all %}
    <tr>
        <td>{{rm.rule.nls_rule_id}}</td>
        <td><a href="{% url 'ruleset_rule' ruleset.slug rm.rule.rule_id %}">{{rm.rule.summary_html|safe}}</a></td>
        <td>{{rm.rule.wcag_primary.show_level_html|safe}}</td>
        <td>{{rm.rule.wcag_primary.show_number_html|safe}}</td>
        {% if rm.required %}
        <td>Yes</td>
        {% else %}
        <td>no</td>
        {% endif %}
    </tr>
 {% endfor %}
   </tbody>

</table>
 {% endfor %}

{% endblock %}
