{% extends "base.html" %}

{% block breadcrumb %}
    <li>Rulesets</li>
{% endblock %}

{% block title %}
Rulesets
{% endblock %}

{% block content %}
    <p>The Functional Accessibility Evaluator and AInspector WCAG use the <a href="https://aitg.disability.illinois.edu/openajax/member/wiki/accessibility.html">OpenAjax Evaluation Library and Rulesets</a>.  The ruleset section of FAE provides details of the OpenAjax Evaluation Library rules and rulesets.</p>

    {% for rs in rulesets %}
        <h2>
            {% if guidelines %}
            <a href="{% url 'ruleset_wcag' rs.slug %}">
            {% else %}
            <a href="{% url 'ruleset' rs.slug %}">
            {% endif %}
            {{ rs.title }}
            </a>
        </h2>

        <details>
        <summary>{{rs.tooltip}}</summary>

        <p>{{rs.description_html|safe}}</p>

        <ul>
            <li class="text"><strong>Version:</strong> {{rs.version}}</li>
            <li class="num"><strong>Total Rules:</strong> {{rs.get_number_of_rules}}</li>
            <li class="num"><strong>Required Rules:</strong> {{rs.get_number_of_required_rules}}</li>
            <li class="num"><strong>Recommended Rules:</strong> {{rs.get_number_of_recommended_rules}}</li>
        </ul>
        </details>
    {% endfor %}

    <h2>Ruleset Comparison</h2>

    <nav aria-label="Ruleset Comparison Options">
        <ul class="nav nav-tabs">
              <li {% if rule_categories %}class="active"{% endif %}><a id="rsc_rc"   href="{% url 'rulesets' %}">by Rule Categories</a></li>
              <li {% if guidelines %}class="active"{% endif %}     ><a id="rsc_wcag" href="{% url 'rulesets_wcag' %}">by WCAG 2.0 Success Criteria</a></li>
        </ul>
    </nav>

    {% block rulesets_comparison %}

    {% endblock %}

{% endblock %}
