{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}
  Login
{% endblock %}

{% block content %}

{% if shibboleth.enabled %}
    <p><a href="{{shibboleth.url}}">{{shibboleth.name}}</a></p>
{% else %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
   <div class="input" >
        <label for="id_input_title" >Username</label>
        <div {% if form.username.errors|length %}class="error"{% endif %}>
        <input 
            id="id_input_username"
            name="username"
            required
            {% if form.username.errors|length %}aria-invalid="true"{% endif %}
            size="20"/>
        {% if form.username.errors|length %}
        <label class="error" for="id_input_username">{% for error in form.username.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
    </div>

   <div class="input" style="margin-top: 0em; padding: 0;">
        <label for="id_input_title" >Password</label>
        <div {% if form.password.errors|length %}class="error"{% endif %}>
        <input 
            id="id_input_password"
            name="password"
            required
            {% if form.password.errors|length %}aria-invalid="true"{% endif %}
            size="20"/>
        {% if form.password.errors|length %}
        <label class="error" for="id_input_password">{% for error in form.password.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
    </div>
 
<!--
    <table role="presentation">

    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>
-->
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endif %}

{% endblock %}