{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}
  Login
{% endblock %}

{% block content %}

{% if shibboleth.enabled %}
   <p>user: {{user}}</p>

    <p><a href="{{shibboleth.url}}">{{shibboleth.name}}</a></p>
    
{% else %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}

        {% include "forms/input_text.html" with input=form.username size=20  %}
        {% include "forms/input_text.html" with input=form.password size=30 type='password' %}
      
        <input type="submit" value="login">

        <p><a href="{% url 'password_reset_recover' %}">Lost password?</a></p>

        <input type="hidden" name="next" value="{{ next }}">

    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
{% endif %}

<section aria-labelledby="#support" style="margin-top: 5em;">
    <h2 id="support">Support Open Source Tools</h2>
    <p>Make a <a href="{% url 'donate' %}">donation</a> or <a href="{% url 'subscription' %}">subscribe</a> to the FAE service to help support the development of open source tools for web accessibility evaluation and inspection.</p>
</section>

{% endblock %}

{% block javascript %}

<script src="{% static 'js/form-control-focus.js' %}" type="text/javascript"></script>

{% endblock %}
