{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}
  Password Reset
{% endblock %}

{% block content %}

{% if shibboleth.enabled %}
    <p><a href="{{shibboleth.url}}">{{shibboleth.name}}</a></p>
{% else %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
   <div class="input" >
        <label for="id_email" >Email Address</label>
        <div {% if form.email.errors|length %}class="error"{% endif %}>
        <input 
            id="id_email"
            name="email"
            required
            {% if form.email.errors|length %}aria-invalid="true"{% endif %}
            size="25"/>
        {% if form.email.errors|length %}
        <label class="error" for="id_email">{% for error in form.email.errors %}{{error}}{% endfor %}</label>
        {% endif %}
        </div>
    </div>

    <input type="submit" value="Reset my password" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
{% endif %}

{% endblock %}