{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}

<h1>Account Registration</h1>

<ul>
  <li>All fields are required.</li>
  <li>A message will be sent to the e-mail address you provide.</li>
  <li>Please select the link in the message you receive to complete your registration.</li>
</ul>

<h2>Step 1 of 2</h2>

<form method="post" action=".">
   {% csrf_token %}

  <fieldset class="fae_group">
    <legend title="This information is used to send you a registration confirmation link.">Contact Information</legend>

      {% include "forms/input_text.html" with input=form.first_name name="first_name" label="First Name" %}

      {% include "forms/input_text.html" with input=form.last_name name="last_name" label="Last Name"%}

      {% include "forms/input_text.html" with input=form.email size=30 %}

  </fieldset>

  <fieldset class="fae_group">
    <legend title="This information will be how you log in">Login Information</legend>

      {% include "forms/input_text.html" with input=form.username name="username" label="User Name" %}

      {% include "forms/input_text.html" with input=form.password1 name="password1" label="Password" type="password" %}

      {% include "forms/input_text.html" with input=form.password2 name="password2" label="Re-enter Password" type="password" %}

  </fieldset>

  <div class="fae_button">
    <input id="id_submit" type="submit" value="Submit - Step 1"/>
  </div>

  <div class="input" style="position: absolute; top: -30em; left: -300em">
    <label for="id_email_verify">E-mail Verify</label>
    <input tabindex="-1"
        required
        id="id_email_verify"
        name="email_verify"
        value="do not change, used for security"
        oninput="disableSubmit(event)"
    />
  </div>

</form>

{% endblock %}

{% block javascript %}

<script type="text/javascript">

  function disableSubmit(event) {
    console.log('disable submit');
    document.getElementById('id_submit').disabled = true;
  }

</script>

{% endblock %}

