{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}
  Shibboleth Discovery Page
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/shibboleth-ds/idpselect.css">
{% endblock %}

{% block content %}

<div id="idpSelect"></div>

{% endblock %}

{% block javascript %}
  <script src="/shibboleth-ds/idpselect_config.js" type="text/javascript" language="javascript"></script>
  <script src="/shibboleth-ds/idpselect.js" type="text/javascript" language="javascript"></script>
{% endblock %}
