{% extends "base.html" %}

{% block breadcrumb %}
  <li>Subscription Information</li>
{% endblock %}

{% block title %}
 Subscription Information
{% endblock %}

{% block content %}
    <p style="margin-top: 1.5em">
        <a href="{% url 'vpat' %}">Voluntary Product Accessibility Tempate (VPAT) for FAE 2.1</a>
    </p>
    <h2 id="summ">Summary of Options</h2>
    <table  class="details table table-striped"  aria-labelledby="summ">
        <thead>
            <tr>
                <th class="text">Option</th>
                <th class="text">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#id_indiv">Individual</a></td>
                <td>
                    <ul>
                        <li>Single account</li>
                        <li>Mulitple subscription levels are available based on the maximum number of archived reports, spidering depth and number of pages per report.</li>
                        <li>If you have a need that does not fit the current subscription levels, <a href="{% url 'contact_form' %}">contact the administrator</a> with your needs.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><a href="#id_inst">Institutional</a></td>
                <td>
                    <ul>
                        <li>Multiple accounts based on <b>InCommon</b> authentication.  InCommon is used by most Higher Education Institutions to manage authentication to campus supported IT services.</li>
                        <li>Subscription costs based on the size of the institution.</li>
                        <li>There is one default subscription level for all sizes of institutions, but you can <a href="{% url 'contact_form' %}">contact the adminstrator</a> to request a custom level for your institution.</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <section aria-labelledby="id0">
        <h2 id="id0">Why Purchase a Subscription?</h2>

        {% include "subscriptions/use_of_funds.html"  with start="Your subscription " %}

    </section>

    {% include "subscriptions/option_individual.html"     with id="id_indiv" %}

    {% include "subscriptions/option_institutional.html"  with id="id_inst" %}

    {% include "subscriptions/refund_policy.html" %}

{% endblock %}
