    <section aria-labelledby="{{id}}">

        <h2 id="{{id}}">Individual Subscription Levels</h2>

        <p>The Individual Subscription option of FAE is designed for inidividuals to create and manage their own accounts.
        If an individual is consistently using FAE it is expected they would purchase a paid subscription based on their use and spidering needs to help support the delivery and enhancement of the FAE service.
        </p>

        {% include "subscriptions/account_type_details.html"  with account_types=self_regs %}

    </section>

 