    <section aria-labelledby="id_refund">
        <h2 id="id_refund">Refund Policy</h2>
        <p>There are <em>no</em> refunds on a paid subscription, so use one or three month subscriptions until you determine your long term interest in FAE and can benefit from the additional discounts of six or twelve month subscriptions.  When a paid subscription is not renewed the subscription level will automatially return to the "Free" account type, which <em>may</em> result in losing archived and permanent reports.</p>
    </section>
