
<p>{{start}} will help support the continued development of the tools and OpenAjax Evaluation Libary to provide evaluation results based on the latest web standards and most effective/efficient accessibility techniques to meet <a href="https://www.w3.org/TR/WCAG">WCAG 2.0</a> Level A and AA requirements, including the <a href="https://www.w3.org/TR/wai-aria-practices/">authoring practices</a> available through the <a href="https://www.w3.org/TR/wai-aria-1.1/">Accessible Rich Internet Application 1.1</a> and <a href="https://www.w3.org/TR/html51/">HTML 5.1 </a> Specifications.</p>

<p>The funds will be used to:</p>
<ul>
    <li>Support graduate and undergraduate students at the <a href="https://illinois.edu">University of Illinios in Urbana-Champaign</a> to help develop and test the open source tools for evaluating and inspecting web accessibility (e.g. FAE, AInspector WCAG and Accessibility Bookmarklets).</li>

    <li>Development of online training materials to help people understand accessibility using web standards, including examples for the <a href="https://www.w3.org/TR/wai-aria-practices/"><abbr title="World Wide Web Consortium">W3C</abbr> ARIA Authoring Practices Guide</a> .</li>

    <li>Support participation in web standards groups like the <a href="https://www.w3.org/WAI/">W3C Web Accessibility Initiative</a> to learn about and contribute to the development and implementation of the next generation web accessibility standards and techniques.</li>

    <li>Support participation in regional and national conferences to help people learn about web accessibility and to promote the open source tools as a resource in people understanding and designing accessible web resourses.</li>

    <li>The FAE service is a part of the <a href="https://disability.illinois.edu/academic-support/aitg">Accessible IT Group</a> in the <a href="https://disability.illinois.edu">Division of Disability Resources and Education Services</a> in the <a href="https://ahs.illinois.edu">College of Applied Health Studies</a> at the <a href="https://illinois.edu">University of Illinois in Urbana-Champaign</a>.</li>
</ul>
