{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
<h1>Registration Activated</h1>

<p>
Your registration is now complete.
To begin, please <a href="/accounts/login/">log in to your FAE account</a>.
</p>

<h2>Tool Announcements E-mail List</h2>
<p>
If you want do <strong>NOT</strong> want to receive e-mail announcements related to tool
updates and related training, go to your
<a href="{{ site.domain }}/account/" aria-describedby="id_desc"> account profile</a>
(i.e. <span id="id_desc">requires login</span>)
and uncheck the announcements list option.
</p>

{% endblock %}
